.promptumenu_nav{
	z-index: 5;
	position: absolute;
	bottom:5px;
	left: 50%;
	margin-right: -50%;
}
.promptumenu_window{
	cursor: move;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	position: relative;
    border: 1px solid red;
}
.promptumenu_nav a{
	cursor: pointer;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	outline: none;

	display: block;
	float: left;
	position: relative;
	left: -50%;
	margin: 0 2px;
}
.promptumenu{
    list-style: none;
    overflow: hidden;
}