*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body html{
    width: 100%;
    height: auto;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #05A0D7;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height:40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left:40%;
    margin-top: 10px;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div2{
    width: 90%;
    height:auto;
    margin-left: 5%;
    float: left;
}
.div2 p{
    font-size: 1em;
    line-height: 20px;
    color: #000000;
}
.div3{
    width: 90%;
    height: auto;
    float: left;
    margin-left: 5%;
}
.div3 img{
    max-width: 100%;
}
.div4{
    width: 90%;
    margin-left: 5%;
    float: left;
}
.div4 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.8em;
    color: #737373;
}