*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html,body{
    width: 100%;
    height:auto;
    background-color: #CCCCCC;
    position: fixed;
    top: 0;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
   position: fixed;
    top: 0;
    z-index: 99;
}
.div1 {
    width: 10%;
    height: 40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2 {
    width: 65%;
    height: auto;
    float: left;
}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 50%;
}
.div3{
    width: 20%;
    height: auto;
    float: right;
    margin-right: 2%;
    line-height: 40px;
}
.div3 p{
    font-size:0.75em ;
    color: #FFFFFF;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 180px;
    float: left;
   margin-top: 40px;
}
.div4{
    width: 100%;
    height: auto;
    float: left;
    background-color:#ffffff ;
}
.div5{
    width: 50px;
    height: 20px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #05A0D7;
    border-radius:7px;
    margin-left: 5%;
}
.div5 p{
    font-size: 0.8em;
    line-height: 20px;
    text-align: center;
    color: #05A0D7;
}
.div6{
    width: 40%;
    height:20px;
    float: left;
    margin-top: 5px;
    margin-left: 5%;
}
.div6 p{
    font-size: 0.65em;
    line-height: 20px;
    color: #737373;
}
.div7{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    float: left;

}
.div9{
    width: 80%;
    height: auto;
    text-indent: 40px;
    margin-left: 10%;
    margin-bottom: 10px;
}
.div9 p{
    font-size: 0.85em;
    color: #737373;
    line-height: 30px;
}
.div8{
    width: 100%;
    height: auto;
    margin-top: 5px;
    float: left;
    background-color: #FFFFFF;
    overflow: hidden;
}
ul{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
li{
    height: 40px;
}
ul li img{
    width: 20px;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
}
ul li p{
     font-size: 0.8em;
    line-height: 40px;
    float: left;
    margin-left: 3%;
}
.div12 {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 5px;
    background-color: #ffffff;
 }
 .div13{
     width: 100%;
     height: 30px;
     float: left;
 }
 .div13 p{
     font-size: 0.85em;
     line-height: 30px;
     color: #05A0D7;
     margin-left: 5%;
 }
 .div14{
     width: 100%;
     height: auto;
     float: left;
 }
 .div14 p{
     font-size: 0.85em;
     line-height: 130%;
     color: #737373;
     margin-left: 5%;
     margin-bottom: 10px;
 }