  * {
        margin: 0;
        padding: 0;
    }

    html, body {
        width: 100%;
        height:614px;
        background-color: #EDEDED;
    }

    header {
        width: 100%;
        height: 40px;
        background: #05A0D7;
    }

    a {
        text-decoration: none;
    }

    .div1 {
        width: auto;
        height: auto;
        float: left;
        margin-left: 5%;
        margin-top: 10px;
    }

    .div1 img {
        width: 80%;
        height: auto;
        max-width: 100%;
    }

    .div2 {
        width: auto;
        height: auto;
        float: left;
        line-height: 40px;
        text-align: center;
        font-size: 1em;
        font-family: "微软雅黑";
        color: #FFFFFF;
        margin-left: 33%;
    }

    .div3 {
        width: 100%;
        height: auto;
        float: left;
    }

    .div3 img {
        width: 40%;
        height: auto;
        margin-left: 30%;
        max-width: 100%;
    }
.div4{
    width: 80%;
    height: 40px;
    float: left;
    border: 1px solid #05A0D7;
    margin-left: 10%;
    margin-top: 20px;
    background-color: #FFFFFF;
}
.div4-1{
    width: 20%;
    height: 30px;
    border-right: 1px solid #05A0D7;
    margin-top: 5px;
    float: left;
}
.div4-1 img{
    width: 40% ;
    height: auto;
    max-width: 100%;
    margin-left: 30%;
    margin-top: 5px;
}
input{
    margin-top: 5px;
    border: 0;
    height: 30px;
    margin-left: 1%;
}
.div5 {
    width: 80%;
    height: 40px;
    float: left;
    border-bottom: 1px solid #05A0D7;
    border-left: 1px solid #05A0D7;
    border-right: 1px solid #05A0D7;
    margin-left: 10%;
    background-color: #FFFFFF;
}
.div5-1{
      width: 20%;
      height: 30px;
      border-right: 1px solid #05A0D7;
      margin-top: 5px;
      float: left;
  }
.div5-1 img{
      width: 40% ;
      height: auto;
      max-width: 100%;
      margin-left: 30%;
      margin-top: 5px;
  }
.div6{
      width: 90%;
    height: 30px;
    background-color: #05A0D7;
    float: left;
    margin-left: 5%;
    margin-top:10px ;
  }
.div6 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.9em;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.div7{
    float: left;
    width: 20%;
    height: auto;
    margin-top: 10px;
    margin-left: 10%;
}
.div7 p{
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    color: #05A0D7;
}
.div8{
    float: right;
    width: 30%;
    height: auto;
    margin-top: 10px;
    margin-right: 10%;
}
.div8 p{
      font-size: 0.75em;
      font-family: "方正兰亭纤黑_GBK";
      color: #05A0D7;
      float: right;
  }
.div9{
      width: 90%;
    height: auto;
    margin-left: 10%;
    margin-top: 40px;
    float: left;
  }
.div9 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.75em;
}
.div10{
   width: 60%;
    height: auto;
    float: left;
    margin-left: 20%;
    margin-top: 20px;
}
.div10 ul{
    list-style: none;
}
.div10 ul li{
    float: left;
    width: 33.33%;
    height: auto;
}
.div11 {
    width: 100%;
    height: auto;
}
.div11 img{
    width: 40%;
    height: auto;
    max-width: 100%;
}
footer{
    width: 94%;
    height: 50px;
    float: left;
    margin-left: 3%;
  margin-top: 140px;
}
footer ul{
    list-style: none;
}
.li-1{
    width: 60%;
    height: 25px;
    float: left;
}
.li-2{
    width: 40%;
    height: 25px;
    float: left;
}
.div13{
    width: 100%;
    height: 25px;
}
.div13 p{
    font-size: 0.592em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 25px;
}
