*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:auto;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    float: left;
}
a{
    text-decoration: none;
}
.div1{
    width: 5%;
    height: auto;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.div1 img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.div2{
    width: 30%;
    height: auto;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    font-family: "方正兰亭纤黑_GBK";
    color: #FFFFFF;
    margin-left: 25%;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}
.div3 img{
    max-width: 100%;
}
.div4{
    width: 100%;
    height: auto;
    float: left;
}
.div5{
    width: 100%;
    height: 30px;
    float: left;
    background-color: deepskyblue;
}
.div5 p{
    width: 95%;
    margin-left: 5%;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: "方正兰亭纤黑_GBK";
    font-size: 1em;
}
.div6{
    width: 100%;
    height: auto;
    float: left;
}
.div6 ul{
    width: 100%;
    height: auto;
    list-style: none;
}
.div6 ul li{
    width: 100%;
    height: 30px;
    float: left;
    border-bottom: 1px solid #CCCCCC;
}
span{
    width: 95%;
    float: left;
    margin-left: 5%;
    line-height: 30px;
    font-size: 0.8em;
    color: #000000;
}
span p{
    float: right;
    margin-right: 5%;
    line-height: 30px;
    font-size: 0.8em;
    color: #000000;
}