*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:auto;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height:40px;
    float: left;
}
.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2{
    width: 80%;
    height: auto;
    float: left;
}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
}
.div3 img{
    width: 20px;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 20%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div4{
    width: 100%;
    height: 70px;
    float: left;
    background: #ededed;
}
.div4 ul{
    width: 100%;
    height: 70px;
    float: left;
    list-style: none;
}
.div4 ul li{
    width: 25%;
    height: 70px;
    float: left;
    text-align: center;
}
.div5{
    width: 50px;
    height: 50px;
    border-radius: 50px;
   margin: 10px auto;
}
.div5 p{
    font-size: 0.7em;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
}
.div6{
    width: 100%;
    height: auto;
    float: left;
}
.div7{
    width: 15%;
    height: auto;
    float: left;
}
.div7 img{
    width: 20px;
    margin-top: 5px;
}

button{
    border: 0;
    border-bottom: 1px solid #cccccc;
    font-size: 0.9em;
    line-height: 30px;
}
button p{
    width: 40%;
    line-height: 40px;
}
.btn{
    width: 100%;
    height: auto;
    float: left;
}
.demo1{
    width: 100%;
    height: auto;
    background-color: #ededed;
    float: left;
}
.demo1 ul{
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
}
.demo1 ul li{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #cccccc;
    float: left;
}
.demo1 ul li p{
    width: 80%;
    margin-left: 20%;
    line-height: 30px;
    font-size: 0.9em;
    color: #000000;
}
.red{
    background-color: #FA6F86 ;
}
.green{
    background-color: #4FC5C7;
}
.blue{
    background-color: #05A0D8;
}
.yellow{
 background-color: #F8A656;
 }