*{
    margin: 0;
    padding:0;
}
html body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;

}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.div1 img {
    max-width: 100%;
    margin-left: 20%;
    margin-top: 10px;
}
.div2 {
    width: 87%;
    height: auto;
    float: left;

}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 37%;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
    margin-top: 10px;
    margin-right: 7%;
}
.div3 img{
    max-width: 100%;
}
section{
    width: 100%;
    height: auto;
    float: left;
}
.div4{
    width: 100%;
    height: 30px;
    float: left;
}
.div4 p{
    font-size: 1em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 30px;
    margin-left: 5%;
}
.div5{
    width: 100%;
    height: auto;
    float: left;
}
.div5 p{
    width: 90%;
    height: auto;
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.85em;
    margin-left: 5%;
    color: #737373;
    margin-bottom: 10px;
}
footer{
    width: 100%;
    height: auto;
    float: left;
    background-color: #ffffff;
    border-top: 5px solid #CCCCCC;
}
.div11{
    width: 100%;
    height: 30px;
    float: left;
    margin-top: 10px;
}
.div11 p{
    width: auto;
    height: 30;
    font-size:1em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 30px;
    margin-left: 8%;
    color: #000000;
}
.div12{
    width: 100%;
    height: auto;
    float: left;
}
.div12 ul{
    list-style: none;
    width: 88%;
    height: auto;
    margin-left: 6%;
}
.div12 ul li{
    width: 18%;
    height: 20px;
    margin-left: 2%;
    float: left;
    margin-bottom: 5px;
}
.div13 p{
    width: auto;
    height: 20px;
    line-height: 20px;
    font-family: "微软雅黑";
    font-size: 0.75em;
    color: #05A0D7;

}
.zz-1{
    position: absolute;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7) ;
    display: none;
}
.zz-2{
    display: none;
    position: fixed;
    bottom: 0;
    top: 60%;  width: 100%; height: 40%;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
.div14{
    width:100% ;
    height:auto;
    float: left;
}
.div14 ul{
    width: 100%;
    height: 80%;
    list-style: none;
    border-bottom: 5px solid #ECECEC;
}
.div14 ul li {
    width: 20%;
    height: 50%;
    float: left;
}
.div15{
    width: 100%;
    height: auto;
    float: left;
}
.div15 img{
    width: 70%;
    height:auto;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 20%;
}
.div16{
    width: 100%;
    height: 20px;
    float: left;
}
.div16 p {
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 20px;
    text-align: center;
    color: #737373;
}
.div17{
    width: 100%;
    height: 20%;
}
.div17 input {
    width: 100%;
    height: 30px;
    border: 0;
    color: #737373;
    background-color: #ffffff;
    font-size: 1em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
}