*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:auto;
    background-color: #EDEDED;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
.div1 {
    width: 10%;
    height:40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left:40%;
    margin-top: 10px;
}
.div2 {
    width: 80%;
    height: auto;
    float: left;

}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
    margin-top: 7px;
}
.div3 img{
    width: 20px;
    max-width: 100%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    background-color: #FFFFFF;
    margin-top: 40px;
}
.div4{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #CCCCCC ;
    overflow: hidden;
}
.div5{
    width: 90%;
    height: 30px;
    float: left;
    margin-left:5%;

}
.div5 p{
    font-size: 0.85em;
    color: #737373;
    line-height: 30px;
}
.div6{
    width: 90%;
    height:40px;
    float: left;
    margin-left: 5%;
    margin-bottom: 10px;
    overflow: hidden;
}
.div6 p{
    font-size: 0.75em;
    color: #CCCCCC;
    line-height: 20px;
}
.ky-4{
    width:25px ;
    margin-top: 10px;
    float: left;
    margin-left: 70%;
}
.ky-5{
    width: 15%;
    height: 25px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ky-5 p{
    font-size: 0.8em;
    line-height: 25px;
    text-align: center;
}