*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:700px;

}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    float: left;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height:40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2{
    width: 80%;
    height: auto;
    float: left;
}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
}
.div3 img{
    width: 20px;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 20%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div4{
    width: 100%;
    height: 30px;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div4-1{
    width: 30%;
    height: auto;
    float: left;
}
.div4-1 p{
    font-size: 0.9em;
    line-height: 30px;
    margin-left: 15%;
    color: #000000;
}
.div4-2{
    width: 10%;
    height: auto;
    float: right;
}
.div4-2 img{
    max-width: 100%;
    margin-top: 5px;
}
.div5{
    width: 100%;
    height: auto;
    float: left;
}
.div5 ul{
    width: 100%;
    list-style: none;
}
.div5 ul li{
    width:45.5%;
    height:auto;
    float: left;
    margin-left: 3%;
    margin-top: 5px;
    border: 1px solid #cccccc;
}
.div6{
    width: 100%;
    height: auto;
    text-align: center;
}
.div6 img{
    width:80px;
    height: 100px;
    margin: 0 auto;
}
.div7{
    width: 50%;
    height: 20px;
    float: left;
}
.div7 p{
    font-size: 0.85em;
    line-height: 20px;
    margin-left: 3%;
    color: #000000;
    text-align: center;
}
.div8{
    width: 50%;
    height: 20px;
    float: left;
}
.div8 p{
    font-size: 0.65em;
    line-height: 25px;
    margin-left: 3%;
    color: #000000;
    text-align: center;
}
.div9{
    width: 60%;
    height: 20px;
    float: left;
}
.div9 p{
    font-size: 0.65em;
    line-height: 25px;
    margin-left: 3%;
    color: #000000;
    text-align: center;
}
.div10{
    width: 20%;
    height: 20px;
    float: left;
}
.div10 p{
    font-size: 0.65em;
    line-height: 25px;
    margin-left: 3%;
    color: #05A0D7;
    text-align: center;
}
.div11{
    width: 60%;
    height: 20px;
    float: left;
}
.div11 p{
    font-size: 0.65em;
    line-height: 25px;
    margin-left: 3%;
    color: #000000;
    text-align: center;
}


