*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:auto;
    background-color: #ffffff;

}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
   top: 0;
}
.div1 {
    width: 10%;
    height: 40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2{
    width: 80%;
    height: auto;
    float: left;
}
.div2 p{
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    color: #FFFFFF;
}
section{
    width: 100%;
    height: auto;
    float: left;
    background-color: #ffffff;
    margin-top: 40px;
}
span{
    width: 95%;
    height: 30px;
    float: left;
    font-size: 1em;
    line-height: 30px;
    color: #05A0D7;
    margin-left: 5%;
}
.div3{
    width:90%;
    height: auto;
    float: left;
    margin-left: 5%;
}
.div3 p{
    font-size: 0.8em;
    line-height: 22px;
    margin-bottom: 10px;
}
.section-1{
    width: 100%;
    height: auto;
    float: left;
    background-color: #ffffff;
    border-top: 5px solid #CCCCCC;
}
