*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;

}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.div1 img {
    max-width: 100%;
    margin-left: 20%;
    margin-top: 10px;
}
.div2{
    width: 10%;
    height: auto;
    float: left;
    margin-left: 65%;
}
.div2 img{
    margin-top: 8px;
    max-width: 100%;
}
.div3{
    width: 13%;
    height: 40px;
    float: left;
}
.div3 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.8em;
    line-height: 40px;
    color: #ffffff;
}
nav{
    width: 100%;
    height: auto;
    position: fixed;
    top: 40px;

    background-color: #ffffff;
}
nav ul{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #CCCCCC;
    list-style: none;
}
nav ul li{
    width: 20%;
    height: 30px;
    float: left;
}
.div4{
    width: 100%;
    height: 20px;
    float: left;
    margin-top: 5px;
    border-right: 1px solid #CCCCCC;
}
.div4 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.75em;
    line-height: 20px;
    margin-left: 20%;
    color: #737373;
}
.div4-1{
    width: 100%;
    height: 20px;
    float: left;
    margin-top: 5px;
}
.div4-1 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.75em;
    line-height: 20px;
    margin-left: 20%;
    color: #737373;
}
.sc{
    width: 100%;
    height: 50px;
    float: left;
    background-color: #ffffff;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 70px;
}
.sc-1{
    width: 20%;
    height: 40px;
    float: left;
}
.sc-1 img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 40%;
    max-width: 100%;
}
.sc-2{
    width: 80%;
    height: 50px;
    float: left;
}
.sc-2 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.85em;
    line-height: 50px;
    color: #05A0D7;
}
.sc-3{
    width: 100%;
    height: 50px;
    float: left;
    background-color: #ffffff;
    border-bottom: 1px solid #CCCCCC;
}
.pl{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #CCCCCC;
    background-color: #ffffff;
    margin-top: 70px;
}
.pl-6{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #CCCCCC;
    background-color: #ffffff;
}
.pl-1{
    width: 100%;
    height: 50px;
    float: left;
}
.pl-2{
  width: 20%;
    height: 50px;
    float: left;
}
.pl-2 img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    max-width: 100%;
    margin-top: 5px;
    margin-left: 40%;
}
.pl-3{
    width: 80%;
    height: 20px;
    float: left;
    margin-top: 5px;
}
.pl-3 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.85em;
    line-height: 20px;
    color: #05A0D7;
}
.pl-4{
    width: 80%;
    height: 20px;
    float: left;
}
.pl-4 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.65em;
    line-height: 20px;
}
.pl-5{
    width: 80%;
    height: 30px;
    float: left;
   margin-left: 20%;
}
.pl-5 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.85em;
    line-height: 30px;
}
.pl-7{
    width: 100%;
    height: auto;
    float: left;
    background-color:rgba(90,200,233,0.3) ;
    border-bottom: 1px solid #CCCCCC;
}
.pl-8{
    width: 100%;
    height: 30px;
    float: left;
}
.pl-9{
    width: 40%;
    height: 30px;
    float: left;
}
.pl-9 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.75em;
    line-height: 30px;
    margin-left: 50%;
    color: #05A0D7;
}
.pl-10{
    width: 60%;
    height: 30px;
    float: left;
}
.pl-10 p{
    font-size: 0.65em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 30px;
}
.pl-11{
    width: 100%;
    height: 30px;
    float: left;
}
.pl-11 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.85em;
    line-height: 30px;
    margin-left: 20%;
}
