*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;

}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.div1 img {
    max-width: 100%;
    margin-left: 20%;
    margin-top: 10px;
}
.div2 {
    width: 70%;
    height: auto;
    float: left;

}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 39%;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
    margin-top: 3px;
    margin-right: 7%;
}
.div3 img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.div3 ul{
    list-style: none;
    display: none;
    position: absolute;
    float: right;
    right: 4px;
    top: 40px;

}
.div3 ul li{
    float: none;
}
.div3 ul li a{
    text-decoration: none;

}
.div3 ul li a p{
    width: 80px;
    height: 30px;
    background-color:#f5f5f5;
    font-family: "微软雅黑";
    font-size: 0.65em;
    border-top: 1px solid #CCCCCC;
    color: #000000;
    text-align: center;
    line-height: 30px;
}
.div3:hover ul{
    display: block;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #ECECEC;
}
.nav-1{
    width: 80%;
    height: 20px;
    margin-top: 5px;
    border: 1px solid #ECECEC;
    margin-left: 10%;
}
.nav-2{
    width: 10%;
    height: 20px;
    float: left;
    margin-top: 2px;
    margin-left: 5%;
}
input{
    width: 85%;
    border: 0;
    height: 20px;
    float: left;
}
.nav-3{
    width: 100%;
    height: 38px;
    float: left;
}
.nav-3 ul {
    width: 80%;
    height: 38px;
    margin-left: 10%;
    list-style: none;
}
.nav-3 ul li {
    width: 20%;
    height: 19px;
    float: left;
    margin-top: 7px;
}
.nav-4{
    width: 100%;
    height: 19px;
}
.nav-4 p{
    font-size: 0.65em;
    color: #CCCCCC;
    line-height: 15px;
    text-align: center;
}
.div4{
    width: 100%;
    height: 30px;
    float: left;
    border-bottom: 5px solid #ECECEC;
}
.div4 ul{
     list-style: none;
     width:100%;
    height: 30px;
}
.div4 ul li{
    width:16.66%;
    height: 30px;
    float: left;
}
.div5{
    width: 100%;
    height: 30px;
    float: left;
}
.div5 p{
    width: 100%;
    height: 20px;
    font-size:0.85em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 20px;
    text-align: center;
    border-right: 1px solid #ECECEC;
    margin-top: 5px;
}
section{
    width: 100%;
    height: auto;
}.xt{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 10px;
 }
 .xt-1{
     width: 100%;
     height: auto;
     float: left;
 }
 .xt-1 ul{
     width: 100%;
     height: auto;
     float: left;
     list-style: none;
 }
 .xt-1 ul li{
    width: 45.5%;
     height: 30px;
     margin-top: 10px;
     float: left;
     margin-left: 3%;
     background-color: #05A0D7;
 }
 .xt-2{
     width: 100%;
     height: 30px;
     float: left;
 }
 .xt-2 p{
     font-family: "方正兰亭纤黑_GBK";
     font-size: 0.7em;
     line-height: 30px;
     text-align: center;
     color: #ffffff;
 }
.ky{
    width:100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #CCCCCC;
}
.ky-1{
    width: 95%;
    height: 30px;
    float: left;
    margin-left: 5%;
}
.ky-1 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 1em;
    color: #000000;
    line-height: 30px;
}
.ky-2{
    width: 10%;
    height: 20px;
    float: left;
    margin-left: 5%;
}
.ky-2 img{
    width: 80%;
    height: auto;
    max-width: 100%;
}
.ky-3{
    width: 80%;
    height: auto;
    float: left;
}
.ky-3 p{
  font-family: "方正兰亭纤黑_GBK";
    font-size: 0.85em;
    color: #CCCCCC;
}
.ky-4{
    width: 30%;
    height: 30px;
    margin-top: 10px;
    float: left;
    margin-left: 20%;
    background: url("../image/comment_collect_icon.png")no-repeat 30% 50%;
}
.ky-4 p{
    float: right;
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 30px;
    color: #000000;
}
.ky-5{
    width: 30%;
    height: 30px;
    margin-top: 10px;
    float: left;
    margin-left: 15%;
    background: url("../image/comment_comment_icon.png")no-repeat 30% 50%;
}
.ky-5 p{
    float: right;
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 30px;
    color: #000000;
}
.sp{
    width: 100%;
    height: auto;
    float: left;
}
.sp-1{
    width: 100%;
    height: auto;
    float: left;
}
.sp-2{
    width: 15%;
    height: 30px;
    float: left;
    margin-left: 5%;
    margin-top: 5px;
}
.sp-2 img{
    width: 40%;
    height: auto;
    max-width: 100%;
}
.sp-3{
    width: 80%;
    height: 30px;
    float: left;
}
.sp-3 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 1em;
    line-height: 30px;
}

.sp-4 ul{
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
}
.sp-4 ul li{
    width: 45.5%;
    height: 80px;
    margin-top: 10px;
    float: left;
    margin-left: 3%;
}
.sp-5{
    width: 100%;
    height: 80px;
    float: left;
    overflow: hidden;
}
.sp-5 img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
.sp-6{
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    float: left;
    margin-top: -30px;
}
.sp-6 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.75em;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
}

