*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:600px;
    background-color: #EDEDED;
}
header{
    width: 100%;
    height: 160px;
    background: #05A0D7;

}
.div1{
    width: auto;
    height: auto;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.div1 img{
    width: 80%;
    height: auto;
    max-width: 100%;
}
.div2{
    width: auto;
    height: auto;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 0.85em;
    font-family: "微软雅黑";
    color: #FFFFFF;
    margin-left: 33%;
}
.div3{
    width: auto;
    height: auto;
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}
.div3 ul{
    list-style: none;
    display: none;
    position: absolute;
    float: right;
    right: 4px;
    top: 40px;

}
.div3 ul li{
    float: none;
}
.div3 ul li a{
    text-decoration: none;

}
.div3 ul li a p{
    width: 80px;
    height: 30px;
    background-color:#f5f5f5;
    font-family: "微软雅黑";
    font-size: 0.65em;
    border-top: 1px solid #CCCCCC;
    color: #000000;
    text-align: center;
    line-height: 30px;
}
.div3:hover ul{
    display: block;
}
.div4{
    width: 100%;
    height: 120px;
    background: #FFFFFF;
    float: left;
}
.div4-1{
    float: left;
    z-index: 1;
    width: 80%;
    height: 30px;
}
.input{
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 20px;

}
.div5{
    width:30px;
    height: 30px;
    z-index: 2;
    float: left;
}
.div5 img{
    margin-top: 23px;
    margin-left: -30%;
}
.div6{
    float: left;
    width: 100%;
    height:60px ;
    margin-top: 35px;

    text-align: center;
}
.div6 p{
    font-family: "微软雅黑";
    font-size: 0.75em;
    color: #737373;
}
.div6 ul{
    width:90%;
    height: 60px;
    list-style: none;
    margin-left: 10%;
}
.div6 ul li{
    width: 22%;
    height: 25px;
    float: left;
}
.div6 a{
    text-decoration: none;
}
nav{
    margin-top: 5px;
    width: 100%;
    height: 45px;
    background-color: #FFFFFF;
    float: left;
}
.div7{
    width: 100%;
    height: 40px;
}
.div7 ul{
    width: 100%;
    height: 40px;
    list-style: none;

}
.div7 ul li{
    width: 20%;
    height: auto;
    float: left;


}
.div7 ul li p{
    width: 100%;
    height: 100%;
    font-size: 0.85em;
    line-height: 40px;
    font-family: "微软雅黑";
    text-align: center;
    color: #05A0D7;
}
a{
    width: 100%;
    text-decoration: none;
}
.div7 ul li a:hover p{
    color: #FFFFFF;
    width: 80%;
    background-color: #05A0D7;
    border-radius: 20px ;
    margin-top: 7px;
    line-height: 28px;
    margin-left: 10px;
    text-decoration: none;

}
.div8{
    width: 100%;
    height: 30px;
}
section{
    margin-top: 5px;
    width: 100%;
    height: 600px;
    background-color: #FFFFFF;
    float: left;
}
.div9{
    width: 100%;
    height: 180px;
    float: left;
    border-bottom: 1px solid #CCCCCC;
}
.div9-1{
    float: right;
    margin-right: 10%;
    margin-top: 10px;
}
.div9-1 ul{
    list-style: none;
    display: none;
    position: absolute;
    float: right;
    right: 4px;
    top: 260px;

}
.div9-1 ul li{
    float: none;
}
.div9-1 ul li a{
    text-decoration: none;

}
.div9-1 ul li a p{
    width: 80px;
    height: 30px;
    background-color:#f5f5f5;
    font-family: "微软雅黑";
    font-size: 0.65em;
    border-top: 1px solid #CCCCCC;
    color: #000000;
    text-align: center;
    line-height: 30px;
}
.div9-1:hover ul{
    display: block;
}

.div10{
    width:auto;
    height:auto;
    margin-left: 5%;
    margin-top: 40px;
}
.div10{
    font-family: "微软雅黑";
    font-size: 0.85em;
}
.div11{
    float: left;
    margin-top: 10px;
    margin-left: 10%;
}
.div12{
    width: 60%;
    height: auto;
    float: right;
    margin-right: 10%;
    margin-top: 10px;
}
.div12 p{
    font-family: "微软雅黑";
    font-size: 0.75em;
    color: #CCCCCC;
}
.div13{
    width: 20%;
    height: 30px;
    background-color: #05A0D7;
    float: left;
    margin-left: 40%;
    margin-top: 10px;
}
.div13 p{
    font-family: "微软雅黑";
    font-size: 0.75em;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
}