*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.div1 img {
    max-width: 100%;
    margin-left: 20%;
    margin-top: 10px;
}
.div2 {
    width: 72%;
    height: auto;
    float: left;

}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 39%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div3{
    width: 100%;
    height: 30px;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div4{
    width: 30%;
    height: 30px;
    float: left;
}
.div4 p{
    line-height: 30px;
    font-size: 0.8em;
    margin-left: 15%;
}
.div5{
    width: 30%;
    height: 30px;
    float: left;
}
.div5 p{
    line-height: 30px;
    font-size: 0.8em;
}
.div6{
    width: 10%;
    height: auto;
    float: right;
}
.div6 img{
    max-width: 100%;
    margin-top: 5px;
}
.div7{
    width: 100%;
    height: 30px;
    float: left;
    border-bottom: 1px solid #ECECEC;
}
.div7 p{
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: "方正兰亭纤黑_GBK";
    font-size: 1em;
    margin-left: 5%;
}
.div8{
    width: 100%;
    height: 40px;
    float: left;
    border-bottom: 1px solid #ECECEC;
}
.div8 textarea{
    width: 95%;
    height: 40px;
    border: 0;
    margin-left: 5%;
}
.div9{
    width: 100%;
    height: 80px;
    float: left;
    border-bottom: 1px solid #ECECEC;
}
.div9 textarea{
    width: 95%;
    height: 80px;
    border: 0;
    margin-left: 5%;
}
.div10{
    width: 20%;
    height: 80px;
    border: 1px solid #ECECEC;
    float: left;
    margin-top: 20px;
    margin-left: 5%;
}
.div10 p{
    line-height: 80px;
    text-align: center;
    font-size: 0.85em;
    font-family: "方正兰亭纤黑_GBK";
    color: #CCCCCC;
}
.div11{
    width: 90%;
    height: 30px;
    float: left;
    margin-left: 5%;
    margin-top: 60px;
}
.div11 input{
    width: 100%;
    height: 30px;
    border: 0;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    background-color: #05A0D7;
}


