*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height:40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2 {
    width: 80%;
    height: auto;
    float: left;

}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div3{
    width: 100%;
    height: 50px;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div4{
    width: 30%;
    height: 50px;
    float: left;
}
.div4 p{
    line-height: 50px;
    font-size: 0.8em;
    margin-left: 15%;
    color: #000000;
}
.div5{
    width: 70%;
    height: 50px;
    float: left;
}
.div5 p{
    line-height: 50px;
    font-size: 0.8em;
    color: #000000;
}
.div6{
    width: 10%;
    height: auto;
    float: right;
}
.div6 img{
    max-width: 100%;
    margin-top: 5px;
}
.div7{
    width: 100%;
    height: 50px;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div7 p{
    line-height: 50px;
    font-size: 1em;
    margin-left: 5%;
}
.div8{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #d5d5d5;
}
.div8 textarea{
    width: 90%;
    height: 40px;
    border: 0;
    margin-left:5%;
    margin-top: 10px;
}
.div9{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #d5d5d5;
}
.div9 textarea{
    width: 90%;
    height: 80px;
    border: 0;
    margin-left: 5%;
   margin-top: 10px;
}
.div10{
    width: 80px;
    height: 80px;
    border: 1px dashed #cccccc;
    float: left;
    margin-top: 20px;
    margin-left: 5%;
}
.div10 p{
    line-height: 80px;
    text-align: center;
    font-size: 0.85em;
    color: #CCCCCC;
}
.div11{
    width: 90%;
    height: 40px;
    float: left;
    margin-left: 5%;
    margin-top: 60px;
}
.div11 input{
    width: 100%;
    height: 40px;
    border: 0;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    background-color: #05A0D7;
}
.zz-1{
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4) ;
    display: none;
}
.zz-2{
    display: none;
    position: fixed;
    top: 20%;  width:80% ; height:60%;
    background-color: white;
    z-index:1002;
    overflow: auto;
    margin-left: 10%;
    border-radius: 5px;
}
.zz-3{
    position: fixed;
    top: 0;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4) ;
    display: none;
}
.zz-4{
    display: none;
    position: fixed;
    top: 10%;left:5%;  width:90% ; height:80%;
    background-color: white;
    border-radius: 5px;
    z-index:1002;
    overflow: auto;

}
.div12{
     width: 100%;
     height: auto;
     float: left;
     border-bottom: 1px solid #cccccc;
 }
.div12 p{
    font-size: 0.8em;
    line-height: 50px;
    margin-left: 5%;
}
.div13{
    width: 100%;
    height: auto;
    float: left;
    background-color: #FFFFFF;
    border-bottom: 1px solid #cccccc;
    border-radius: 5px;
}
.div14{
    width: 100%;
    height: 30px;
    float: left;
}
.div14 p{
    line-height: 50px;
    font-size: 0.9em;
    margin-left: 5%;

}
.div15{
    width: 25%;
    height: 20px;
    float: left;
    margin-bottom: 10px;
}
.div15 p{
    font-size:0.8em;
    line-height: 20px;
    color: #ff0000;
    margin-left: 15%;
}
.div16{
    width: 30%;
    height: 20px;
    float: left;
}
.div16 p{
    font-size: 0.8em;
    line-height: 20px;
}
label{
    color: #ff0000;
}
.div17{
    width: 30%;
    height: 20px;
    float: left;
}
.div17 p{
    font-size: 0.8em;
    line-height: 20px;
}

