*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;

}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.div1 img {
    max-width: 100%;
    margin-left: 20%;
    margin-top: 10px;
}
.div2 {
    width: 72%;
    height: auto;
    float: left;

}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 39%;
}
section{
    width: 100%;
    height: auto;
    float: left;
}
.div3{
    width: 100%;
    height: 30px;
    float: left;
    border-bottom: 1px solid #ECECEC;
}
.div3 p{
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: "方正兰亭纤黑_GBK";
    font-size: 1em;
    margin-left: 5%;
}
.div4{
    width: 100%;
    height: 40px;
    float: left;
    border-bottom: 1px solid #ECECEC;
}
.div4 textarea{
    width: 95%;
    height: 40px;
    border: 0;
    margin-left: 5%;
}
.div5{
    width: 100%;
    height: 80px;
    float: left;
    border-bottom: 1px solid #ECECEC;
}
.div5 textarea{
    width: 95%;
    height: 80px;
    border: 0;
    margin-left: 5%;
}
.div6{
    width: 20%;
    height: 80px;
    border: 1px solid #ECECEC;
    float: left;
    margin-top: 20px;
    margin-left: 5%;
}
.div6 p{
    line-height: 80px;
    text-align: center;
    font-size: 0.85em;
    font-family: "方正兰亭纤黑_GBK";
    color: #CCCCCC;
}
.div7{
    width: 90%;
    height: 30px;
    float: left;
    margin-left: 5%;
    margin-top: 60px;
}
.div7 input{
    width: 100%;
    height: 30px;
    border: 0;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    background-color: #05A0D7;
}
footer{
    border-top: 3px solid #ECECEC;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
.div11{
    width: 100%;
    height: 20px;
    float: left;
    margin-top: 10px;
}
.div11 p{
    width: auto;
    height: auto;
    font-size: 0.85em;
    font-family: "微软雅黑";
    line-height: 20px;
    margin-left: 8%;
    color: #737373;
}
.div12{
    width: 100%;
    height: 40px;
    float: left;
}
.div12 ul{
    list-style: none;
    width: 88%;
    height: 40px;
    margin-left: 6%;
}
.div12 ul li{
    width: 18%;
    height: 20px;
    margin-left: 2%;
    float: left;
}
.div13 p{
    width: auto;
    height: auto;
    line-height: 20px;
    font-family: "微软雅黑";
    font-size: 0.75em;
    color: #05A0D7;
}
.zz-1{
    position: absolute;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7) ;
    display: none;
}
.zz-2{
    display: none;
    position: absolute;
    top: 35%;  width: 80%; height:200px;
    background-color: white;
    z-index:1002;
    overflow: auto;
    margin-left: 10%;
    border-radius: 10px;
}
.div14{
    width: 100%;
    height: 40px;
    float: left;
    margin-top: 10px;
}
.div14 p{
    font-size: 1em;
    font-family: "方正兰亭纤黑_GBK";
    color: #05A0D7;
    line-height: 40px;
    margin-left: 10%;
}
.div15{
    width: 100%;
    height: 30px;
    float: left;
}
.div15 p{
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.75em;
    line-height: 30px;
    margin-left: 10%;
}
.div16{
    width: 100%;
    height: 30px;
    float: left;
}
.div16 .p1{
    float: left;
    font-size: 0.75em;
    margin-left: 10%;
    line-height: 30px;
    font-family: "方正兰亭纤黑_GBK";
}
.div16 .p2{
    float: left;
    font-size: 0.75em;
    color: #E60011;
    line-height: 30px;
    font-family: "方正兰亭纤黑_GBK";
}
.div17{
    width: 100%;
    height: 30px;
    float: left;
}
.div17 p{
    float: left;
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 30px;
    margin-left: 10%;
}
.div17 a{
    color: #05A0D7;
}
.zz-2 input{
    width: 100%;
    height: 40px;
    border-top: 1px solid #ECECEC;
    background-color: #ECECEC;
    line-height: 40px;
    text-align: center;
    border: 0;
    margin-top: 20px;
}
