*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:600px;
    background-color: #ECECEC;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;

}
.div1{
    width: auto;
    height: auto;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.div1 img{
    width: 80%;
    height: auto;
    max-width: 100%;
}
.div2{
    width: auto;
    height: auto;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 0.85em;
    font-family: "微软雅黑";
    color: #FFFFFF;
    margin-left: 33%;
}
.div3{
     width: 25%;
     height: 30px;
     border: 1px solid #CCCCCC;
     background-color: #FFFFFF;
     margin-left: 5%;
     margin-top: 20px;
    float: left;
 }
.div3 p{
    font-size: 0.85em;
    font-family: "微软雅黑";
    line-height: 30px;
    text-align: center;
    color: #737373;
}
a{
    text-decoration: none;
}