*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:600px;
    background-color: #ECECEC;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
.div1 {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.div1 img {
    max-width: 100%;
    margin-left: 20%;
    margin-top: 10px;
}
.div2 {
    width: 72%;
    height: auto;
    float: left;

}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 39%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
ul{
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
}
ul li{
    width: 27%;
    height: 30px;
    margin-left: 5%;
    float: left;
    margin-top: 20px;
}
.div3{
     width: 100%;
     height: 30px;
     border: 1px solid #CCCCCC;
     background-color: #FFFFFF;
 }
.div3 p{
    font-size: 0.85em;
    font-family: "微软雅黑";
    line-height: 30px;
    text-align: center;
    color: #737373;
}
a{
    text-decoration: none;
}