*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:auto;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height:40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2{
    width: 80%;
    height: auto;
    float: left;
}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
}
.div3 img{
    width: 20px;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 20%;
}

.div4{
    width:100%;
    height: 120px;
    float: left;
    margin-top: 40px;
}
.div4 img{
    width: 100%;
    height: 120px;
    float: left;
}
.div5 {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    margin: 0 auto;
}
.div5-1{
    width: 46px;
    height: 46px;
    border-radius: 46px;
    margin: -100px auto;
    background-color: rgba(255,255,255,0.5);
}
.div5 img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-top: 3px;
}
section{
    width: 100%;
    height: auto;
    float: left;
}
.div6{
    width: 100%;
    height: auto;
    float: left;
    margin-top: -40px;
}
.div6 p{
    font-size: 0.8em;
    text-align: center;
    color: #FFFFFF;
    line-height: 20px;
}
.div7{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div7 p{
    font-size: 0.8em;
    float: left;
    line-height: 30px;
    margin-left: 5%;
}
ul{
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
    border-bottom: 5px solid #cccccc;
}
ul li{
    width: 50%;
    height: 30px;
    float: left;
}
.div8{
    width: 50%;
    height: 20px;
    float: left;
    margin-top: 5px;
    margin-left: 25%;
}
.div8 p{
    font-size: 0.8em;
    line-height: 20px;
    text-align: center;
}
.tiezhi{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div9{
    width: 100%;
    height: 30px;
    float: left;
}
.div9 p{
    font-size: 0.8em;
    line-height: 30px;
    margin-left: 5%;
    color: #000000;
}
.div10{
    width: 60%;
    height: 30px;
    float: left;
}
.div10 p{
    font-size: 0.8em;
    line-height: 30px;
    float: left;
   margin-left: 70%;
    color: #000000;
}
.div10 img{
    width: 20px;
    margin-left: 5%;
    margin-top: 5px;
}
.div11{
    width: 40%;
    height: 30px;
    float: left;
}
.div11 p{
    font-size: 0.8em;
    line-height: 30px;
    float: right;
    margin-right: 5%;
    color: #000000;
}
.div12{
    width: 100%;
    height: 30px;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.p1{
    font-size: 0.8em;
    line-height: 30px;
    margin-left: 5%;
    float: left;
    color: #737373;
}
.p2{
    font-size: 0.8em;
    line-height: 30px;
    margin-left: 25%;
    float: left;
    color: #737373;
}
.p3{
    font-size: 0.8em;
    line-height: 30px;
    margin-left: 20%;
    float: left;
    color: #737373;
}
button{
    width: 90%;
    height: 40px;
    margin-left: 5%;
    line-height: 40px;
    color:#05A0D7;
    border: 1px solid #05A0D7;
    background-color: #FFFFFF;
    font-size: 1em;
    margin-top: 100px;
}