*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:auto;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height:40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2{
    width: 80%;
    height: auto;
    float: left;
}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
}
.div3 img{
    width: 20px;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 20%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div4{
    width: 100%;
    height: auto;
    float: left;


}
.div4 ul{
    list-style: none;
    width:100%;
    height: 40px;
    border-bottom: 1px solid #cccccc;
}
.div4 ul li{
    width:25%;
    height: 40px;
    float: left;
}
.div5{
    width: 100%;
    height: 30px;
    float: left;
    border-right: 1px solid #ECECEC;
    margin-top:5px;
}
.div5 p{
    width: 60%;
    height: 30px;
    font-size:0.9em;
    line-height: 30px;
    text-align: center;
    margin-left: 20%;
}
ul{
    width: 100%;
    height: auto;
    list-style: none;
}
ul li{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div6{
    width: 100%;
    height: auto;
    float: left;
}
.div6 p{
    font-size: 0.8em;
    line-height: 30px;
    color: #000000;
    margin-left: 10%;
}
.div7{
    width: 15%;
    height: auto;
    float: left;
    margin-left: 55%;
}
.div7 p {
    font-size: 0.7em;
    color: #737373;
    float: left;
}
.div7 img{
    width: 15px;
    margin-left: 3%;
}
.div8{
    width: 30%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}
.div8 p{
    font-size: 0.7em;
    color: #737373;
    float: left;

}