*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body html{
    width: 100%;
    height: auto;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #05A0D7;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height: 40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2 {
    width: 80%;
    height: auto;
    float: left;

}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 39%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div3{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #CCCCCC;
}
.div4{
    width: 100%;
    height: 30px;
    float: left;
}
.div4 p{
    font-size: 0.85em;
    line-height: 30px;
    color: #000000;
    margin-left: 5%;
}
.div5{
    width: 90%;
    height: 60px;
    float: left;
    margin-left: 5%;
    margin-bottom: 10px;
}
.div6{
    width: 20%;
    height: auto;
    float: left;
}
.div6 img{
    max-width: 100%;
}
.div7 {
    width: 80%;
    height: auto;
    float: left;
    overflow: hidden;
}
.div7 p{
    font-size: 0.75em;
    line-height: 20px;
    color: #737373;
    margin-left: 5%;
}
.div8{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #CCCCCC;
}
.div9{
    width: 90%;
    height:auto;
    float: left;
    overflow: hidden;
    margin-left: 5%;
}
.div9 p{
    font-size: 0.75em;
    line-height: 20px;
    color: #737373;
    margin-bottom: 10px;
}
.search{
    width: 100%;
    height: 40px;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.p1{
    width: 25%;
   font-size: 0.9em;
    line-height: 40px;
    float: left;
    margin-left: 5%;
}
.p2{
    width: 20%;
    font-size: 0.9em;
    line-height: 40px;
    color: #737373;
    float: left;
    text-align: center;
}
.img1{
    float: right;
    margin-right: 5%;
    height:20px;
    margin-top: 10px;
}
ul{
   width: 20%;
    height: auto;
    position: absolute;
    left: 30%;
    top: 80px;
    list-style: none;
    display: none;
    -webkit-transition: width 2s;
}
ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ECECEC;
    font-size: 0.9em;
    border-bottom: 1px solid #cccccc;
}
