*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:auto;
    background-color: #ffffff;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height: 40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2{
    width: 80%;
    height: auto;
    float: left;
}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
}
.div3 img{
    width: 20px;
    max-width: 100%;
    margin-top: 10px;
    margin-left: 20%;
}
.divZ1{
    width:100%;
    height: 40px;
    float: left;
    border-bottom: 1px solid #ECECEC;

}
.divZ1 p{
    font-size: 1em;
    line-height:40px ;
    margin-left: 5%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    background-color: #ffffff;
    margin-top: 40px;

}
.div7{
    width:100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #CCCCCC;
}
.div8{
    width: 82%;
    height:auto;
    float: left;
    margin-left: 3%;
}
.div8 p{
    font-size: 1em;
    color: #000000;
    line-height: 30px;
}
.div9{
    width: 10%;
    height: 20px;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.div9 img{
    width: 30px;
    height: auto;
    max-width: 100%;
}
.div10{
    width: 82%;
    height: auto;
    float: left;
    margin-left: 18%;
}
.div10 p{
    font-size: 0.85em;
    color: #CCCCCC;
    margin-bottom: 10px;
    line-height: 130%;
}
.section-1{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 5px;
    background-color: #ffffff;
}
