*{
    margin: 0;
    padding:0;
}
html {
    width: 100%;
    height: auto;
    background-color: #ededed;
}

a{
    text-decoration: none;
}
header{
    float: left;
    width: 96%;
    height: 60px;
    margin-left: 2%;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.div1{
    width: 100%;
   height: auto;
    text-align: center;
   margin-bottom: 10px;
    margin-top: 30px;
    background-color: #ededed;
}
.div1 img{
    max-width: 40%;
    margin: 0 auto;
}
.div5{
    width: 9%;
    height:60px;
    float: right;
}
.div5 p{
  font-size: 1em;
    line-height: 60px;
}
.div6{
    width:96%;
    height: 126px;
    float: left;
    margin-left: 2%;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 5px;
}
.div6-1 p{
    width: 45%;
    font-size: 0.85em;
    margin-left: 5%;
    line-height: 40px;
    color: #CCCCCC;
    float: left;
    border-bottom:  1px solid #cccccc;
}
.div6-2{
    width: 45%;
    float: right;
    border-bottom: 1px solid #cccccc;
    margin-right: 5%;
}
.div6-2 p{
    width: 40%;
    font-size: 0.85em;
    line-height: 40px;
    color: #05A0D7;
    float: right;
}
.div7{
    width: 100%;
    height: 80px;
    float: left;

}
.div7 ul{
    width: 100%;
    height: 80px;
    list-style: none;
}
.div7 ul li{
    width: 50%;
    height: 40px;
    float: left;
}
.div8{
    width: 100%;
    height: 40px;

}
.div8 p{
    font-size: 0.85em;
    color: #000000;
    line-height: 40px;
    margin-left: 10%;
}
.div9{
    width: 96%;
    height: 220px;
    float: left;
    margin-top: 5px;
    margin-left: 2%;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.div9-1 p{
    width: 90%;
    font-size: 0.85em;
    margin-left: 5%;
    line-height: 40px;
    color: #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
.div10{
    width: 100%;
    height: 180px;
    background-color: #FFFFFF;
    float: left;
}
.div10 ul{
    width: 100%;
    height: 180px;
    list-style: none;
}
.div10 ul li{
    width: 100%;
    height: 30px;
    float: left;
}
.div11{
    width: 100%;
    height: 30px;

}
.div11 p{
    font-size: 0.85em;
    color: #000000;
    line-height: 30px;
    margin-left: 10%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
    padding-bottom: 100px;
}
.div12{
    width: 100%;
    height: auto;
    float: left;
    border-top: 5px solid #ededed;
}
span{
    width: 90%;
    height: auto;
    float: left;
    font-size: 1em;
    line-height: 20px;
    margin-left: 5%;
    color: #05A0D7;
}
label{
    color:#ff0000 ;
}
.div13{
    width: 90%;
    height: 60px;
    float: left;
    margin-left: 5%;
    overflow: hidden;
}
.div13 p{
    font-size: 0.85em;
    color: #737373;
    line-height: 20px;
}
.div14{
    width: auto;
    height: 20px;
    float:right;
    margin-right: 5%;
    margin-bottom: 10px;
}
.div14 p{
    color:#737373;
    font-size: 0.7em;
    line-height: 20px;
}
footer{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    display: none;
}
.div15{
    width: 100%;
    height: 30px;
    float: left;
    border-top: 5px solid #ededed;
}
.div15 p{
    font-size: 1em;
    margin-left: 5%;
    line-height: 30px;
}
footer ul{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}
footer ul li{
    width: 27%;
    height: 20px;
    float:left;
    margin-left: 5%;
}
footer ul li p{
    color: #05A0D7;
    font-size: 0.7em;
    line-height: 20px;
}
#jilu{
    width: 100%;
    height: auto;
}