*{
    margin: 0;
    padding:0;
}
html body{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.div5{
    width: 9%;
    height: 36px;
    float: right;
}
.div5 img{
   margin-top: 10px;
    margin-left: 30%;
}
.div6{
    width: 100%;
    height: 40px;
    float: left;
    border-top: 5px solid #EDEDED;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    margin-top: 35px;
}
.div6 p{
    font-size: 0.85em;
    font-family: "微软雅黑";
    margin-left: 5%;
    line-height: 40px;
    color: #CCCCCC;
}
.div7{
    width: 100%;
    height: 80px;
    float: left;
    background-color: #FFFFFF;
}
.div7 ul{
    width: 100%;
    height: 80px;
    list-style: none;
}
.div7 ul li{
    width: 50%;
    height: 40px;
    float: left;
}
.div8{
    width: auto;
    height: auto;

}
.div8 p{
    width: auto;
    height: auto;
    font-family: "微软雅黑";
    font-size: 0.85em;
    color: #000000;
    line-height: 40px;
    margin-left: 20%;
}
.div9{
    width: 100%;
    height: 40px;
    float: left;
    border-top:5px solid #EDEDED ;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}
.div9 p{
    font-size: 0.85em;
    font-family: "微软雅黑";
    margin-left: 5%;
    line-height: 40px;
    color: #CCCCCC;
}
.div10{
    width: 100%;
    height: 180px;
    background-color: #FFFFFF;
    float: left;
}
.div10 ul{
    width: 100%;
    height: 180px;
    list-style: none;
}
.div10 ul li{
    width: 100%;
    height: 30px;
    float: left;
}
.div11{
    width: auto;
    height: auto;

}
.div11 p{
    font-family: "微软雅黑";
    font-size: 0.85em;
    color: #000000;
    line-height: 30px;
    margin-left: 10%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
    padding-bottom: 100px;
}
.div12{
    width: 100%;
    height: auto;
    float: left;
    border-top: 5px solid #ededed;
}
span{
    width: 90%;
    height: auto;
    float: left;
    font-size: 1em;
    line-height: 20px;
    margin-left: 5%;
    color: #05A0D7;
}
label{
    color:#ff0000 ;
}
.div13{
    width: 90%;
    height: 60px;
    float: left;
    margin-left: 5%;
    overflow: hidden;
}
.div13 p{
    font-size: 0.85em;
    color: #737373;
    line-height: 20px;
}
.div14{
    width: auto;
    height: 20px;
    float:right;
    margin-right: 5%;
    margin-bottom: 10px;
}
.div14 p{
    color:#737373;
    font-size: 0.7em;
    line-height: 20px;
}
footer{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
}
.div15{
    width: 100%;
    height: 30px;
    float: left;
    border-top: 5px solid #ededed;
}
.div15 p{
    font-size: 1em;
    margin-left: 5%;
    line-height: 30px;
}
footer ul{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}
footer ul li{
    width: 27%;
    height: 20px;
    float:left;
    margin-left: 5%;
}
footer ul li p{
    color: #05A0D7;
    font-size: 0.7em;
    line-height: 20px;
}