*{
 padding: 0;
margin: 0;
}
html body{
    width: 100%;
    height:614px;
background-color: #EDEDED;
}
a{
    text-decoration: none;
}
.box{
    width: 100%;
    height: 614px;
    position: relative;
}
header{
    width: 100%;
   height:40px;
    float: left;
    background-color: #05A0D7;
}
.header-1{
    width: 100%;
   height:auto;
    overflow: hidden;
}
.header-2 img{
    float: right;
    max-width: 100%;
    margin-top: 5px;
    margin-right: 2%;
}
section{
    width: 100%;
    height:197px;
    background: #EDEDED;
    float: left;
    border-bottom: 2px solid #CCCCCC;
}
.section-1{
    width: 100%;
    height:197px;
    background: #FFFFFF;

}
.section-1 ul{
     list-style: none;
    width: 100%;
    height: 197px;


 }
.section-1 ul li{
    width: 33%;
    height: 40%;
    float: left;
   margin-bottom: 4%;

}
.div1{
    width: 60%;
    height: auto;
    margin-left: 30%;
    margin-top: 20px;
}
.div1 img{
    width: 100%;
    height: auto;
    max-width: 80%;
}
.div2{
    width: 100%;
    height: 20px

}
.div2 p{
    width: 100%;
    height: 20px;
    font-size: 0.65em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 20px;
    text-align: center;
    color: #737373;
}
.div1 img{
    max-width: 70%;
}
.div3{
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    float: left;
}
.div4{
    width: 50%;
    height: 30px;
    float: left;
}
.div4 p{
    width: auto;
    height: auto;
    margin-left: 5%;
    line-height: 30px;
    font-size: 1em;
    font-family: "方正兰亭纤黑_GBK";
    color: #737373;
}
.div5{
    width: 50%;
    height: 30px;
    float: right;
}
.div5 p{
    width: auto;
    height: auto;
    margin-left:45% ;
    line-height: 30px;
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    color: #737373;
}
.div6{
    width: 100%;
    height: 130px;
    float: left;
    border-bottom: 2px solid #CCCCCC;
    background-color: #FFFFFF;
}
.div6 ul{
    width: 16%;
    height: 110px;
    list-style: none;
    float: left;
    margin-left: 2%;
    margin-top: 7px;
}
.div6 ul li{
    width: 100%;
    height: 36px;
    float: left;
    background-color: #05A0D7;

}
.div7{
    width: 100%;
    height: 30px;
}
.div7 p{
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.div8{
    width: 82%;
    height: 124px;
    float: left;
}
.div8 table{
    width: 100%;
    height: 110px;
    border: 3px solid #FFFFFF;
}
.div8 table tr{
    width: auto;
    height: 36px;
    background-color: #05A0D7;
}
.div8 table tr td p{
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
.div9{
    width: 100%;
    height: 162px;
    float: left;
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}
.div10{
    width: 50%;
    height: 162px;
    float: left;
}
.div10 hr{
    margin-left: 100%;
    float: left;
}
.div11{
    width: 50%;
    height: 162px;
    float: left;
}
.div12{
    width: 100%;
    height:30px;
    float: left;
    margin-top: -155px;
  ;
}
.div12 p{
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 1em;
    font-family: "方正兰亭纤黑_GBK";
    margin-left: 5%;
}
.div13{
    width: 100%;
    height:30px;
    float: left;
    margin-top: -125px;
;
}
.div13 p{
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    margin-left: 5%;
    color: #CCCCCC;
}
.div14{
    width: 40%;
    height:70px ;
    float: left;
    margin-top: -85px;
    margin-left: 5%;
}
.div14 img{
    width: 100%;
    height: 70px;
    max-width: 100%;
}
.div15{
    width: 50%;
    height:70px ;
    float: right;
    margin-top: -85px;
    margin-left: 5%;

}
.div15 p{
    width: auto;
    height:70px;
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    overflow: hidden;
    text-overflow: ellipsis;
    color: #CCCCCC;
    margin-right: 5%;
    text-indent: 12px;
}
.div16{
    width: 100%;
    height:30px;
    float: left;
    margin-top: 7px;
}
.div16 p{
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 1em;
    font-family: "方正兰亭纤黑_GBK";
    margin-left: 5%;
}
.div17{
    width: 40%;
    height:70px ;
    float: left;
    margin-top:10px;
    margin-left: 5%;
}
.div17 img{
    width: 100%;
    height: 70px;
    max-width: 100%;
}
.div18{
    width: 50%;
    height:70px ;
    float: right;
    margin-top: 10px;
    margin-left: 5%;

}
.div18 p{
    width: auto;
    height:70px;
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    overflow: hidden;
    text-overflow: ellipsis;
    color: #CCCCCC;
    margin-right: 5%;
    text-indent: 12px;
}
footer{
    width: 100%;
    height: 50px;
    float: left;
    background-color: #FFFFFF;
}
footer ul{
    width: 100%;
    height: 50px;
    list-style: none;
}
footer ul li{
    width: 20%;
    height: 50px;
    float: left;
}
footer ul li hr{
    float: left;
}
.div19{
    width: 100%;
    height: 20px;

}
.div20{
    width: 100%;
    height: 20px;
}
.div20 p{
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    color: #737373;
    text-align: center;
    line-height: 20px;
}
footer a:hover p{
    color: #05A0D7;
}
footer img{
    display:block;
    width:30%;
    height: 20px;
    margin-left:35%;
    margin-top: 5px;

}
footer a span {
    width: 20%;
    height: 20px;
    display:none;
    margin-top: -5px;

}
footer a:hover span{
    display:block;
    position: absolute;

}


