*{
    padding: 0;
    margin: 0;
}
html body{
    width: 100%;
    height:auto;
    background-color: #ECECEC;
}
a{
    text-decoration: none;
}
.box{
    width: 100%;
    height: auto;
    position: relative;
}
header{
    width: 100%;
    height:40px;
    float: left;
    background-color: #05A0D7;
}
.header-1{
    width: auto;
    height:40px;
    float: left;
    margin-left: 0;
    margin-top: 0;
}
.header-1 img{
    width: auto;
    height: 40px;
    max-width:100%;
}
.header-2 {
    width:10%;
    height: auto;
    float: right;
    margin-right:5%;
}
.header-2 img{
    width: 20px;
    margin-top: 8px;
    margin-left: 20%;
}
section{
    width: 100%;
    height:165px;
    background: #EDEDED;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
}
.section-1{
    width: 98%;
    height:165px;
    background: #FFFFFF;
    border-radius: 10px;
}
.section-1 ul{
    list-style: none;
    width: 98%;
    height: 150px;
}
.section-1 ul li{
    width: 32%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}
.div1{
    width: 60%;
    height: auto;
    margin-left: 31%;
    margin-top: 5px;
}
.div1 img{
    max-width: 60%;
}
.div2{
    width: 100%;
    height: 20px;
}
.div2 p{
    width: 100%;
    height: 20px;
    font-size: 0.65em;
    line-height: 20px;
    text-align: center;
    color: #737373;

}
.div3{
    width: 98%;
    height:140px ;
    margin-top: 5px;
    float: left;
    margin-left: 1%;
    border-radius: 10px;
    background-color: #ffffff;
}
.div4{
    width: 50%;
    height: 30px;
    float: left;
}
.div4 p{
    width: auto;
    height: auto;
    margin-left: 5%;
    line-height: 30px;
    font-size: 1em;
    color: #737373;
}
.div5{
    width: 50%;
    height: 30px;
    float: right;
}
.div5 p{
    width: auto;
    height: auto;
    margin-left:45% ;
    line-height: 30px;
    font-size: 0.75em;
    color: #737373;
}
.div6{
    width: 100%;
    height:auto;
    float: left;
    background-color: #FFFFFF;
    margin-top: 10px;
}
.div6-1{
    width: 16%;
    height: auto;
    list-style: none;
    float: left;
    margin-left: 2%;
    margin-top: 3px;
}
.div6-1 ul{
    width: 100%;
    height: 100%;
    list-style: none;
}
.div6-1 ul li{
    width: 100%;
    height:28px;
    float: left;
    background-color: #11c1f3;
    border-radius: 5px;
    margin-bottom: 2px ;

}
.div7{
    width: 100%;
    height: 28px;
}
.div7 p{
    font-size: 0.75em;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.div8{
    width: 82%;
    height: auto;
    float: left;
}
.div8 table{
    width: 100%;
    height: auto;
    float: left;
}
.div8 table tr{
    width: auto;
    height: 28px;
    background-color: #05A0D7;
}
.div8 table tr td{
    border-radius: 5px;
}
.div8 table tr td p{
    font-size: 0.75em;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;

}
.div9{
    width: 100%;
    height: auto;
    float: left;
}
.div10{
    width: 48%;
    height: 135px;
    float: left;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 1%;
}
.div11{
    width: 48%;
    height: 135px;
    float: left;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 2%;
}
.div12{
    width: 100%;
    height:30px;
    float: left;

}
.div12 p{
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 1em;
    margin-left: 5%;
    color: #000000;
}
.div13{
    width: 100%;
    height:20px;
    float: left;

}
.div13 p{
    width: auto;
    height: auto;
    line-height: 20px;
    font-size: 0.75em;
    margin-left: 5%;
    color: #CCCCCC;
}
.div14{
    width: 40%;
    height:auto ;
    float: left;
    margin-left: 5%;
}
.div14 img{
    max-width: 100%;
}
.div15{
    width: 50%;
    height:auto;
    float: right;
    margin-left: 5%;
    overflow: hidden;
}
.div15 p{
    width: auto;
    height:60px;
    font-size: 0.75em;
    line-height: 20px;
    text-overflow: ellipsis;
    color: #CCCCCC;
    margin-right: 5%;
    text-indent: 12px;
}
.div16{
    width: 100%;
    height:30px;
    float: left;
    color: #000000;
}
.div16 p{
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 1em;
    margin-left: 5%;
}
.div17{
    width: 40%;
    height:auto ;
    float: left;
    margin-top:10px;
    margin-left: 5%;
}
.div17 img{
    max-width: 100%;
}
.div18{
    width: 50%;
    height:auto ;
    float: right;
    margin-top: 10px;
    margin-left: 5%;

}
.div18 p{
    width: auto;
    height:60px;
    font-size: 0.75em;
    overflow: hidden;
    line-height: 20px;
    text-overflow: ellipsis;
    color: #CCCCCC;
    margin-right: 5%;
    text-indent: 12px;

}
footer{
    width: 100%;
    height: 50px;
    float: left;
    background-color: #FFFFFF;
    margin-top: 5px;
}
footer ul{
    width: 100%;
    height: 50px;
    list-style: none;
}
footer ul li{
    width: 20%;
    height: 50px;
    float: left;
}
footer ul li a:hover p{
    color: #05A0D7;
}
.div19{
    width: 100%;
    height: 50px;
    background: url("../image/icon_register.png") no-repeat 50% 20%;
    float: left;
    background-size:20px;
}
.div19 p{
    font-size: 0.75em;
    margin-top: 32px;
    text-align: center;
    color: #737373;
}
.div20 {
    width: 100%;
    height: 50px;
    background: url("../image/icon_suggest.png") no-repeat 50% 20%;
    float: left;
    background-size: 20px;
}
.div20 p{
    font-size: 0.75em;
    margin-top: 32px;
    text-align: center;
    color: #737373;
}
.div21 {
    width: 100%;
    height: 50px;
    background: url("../image/icon_help.png") no-repeat 50% 20%;
    float: left;
    background-size:20px;
}
.div21 p {
    font-size: 0.75em;
    margin-top: 32px;
    text-align: center;
    color: #737373;
}
.div22 {
    width: 100%;
    height: 50px;
    background: url("../image/icon_icon_setup.png") no-repeat 50% 20%;
    float: left;
    background-size: 20px;
}
.div22 p {
    font-size: 0.75em;
    margin-top: 32px;;
    text-align: center;
    color: #737373;
}
.div23 {
    width: 100%;
    height: 50px;
    background: url("../image/icon_collect.png") no-repeat 50% 20%;
    float: left;
    background-size:20px;
}
.div23 p {
    font-size: 0.75em;
    margin-top: 32px;;
    text-align: center;
    color: #737373;
}
