html body{
 width: 100%;
    height: auto;
}
header{
    width: 100%;
    height: 40px;
    background-color: #05A0D7;
    float: left;
    position: fixed;
    top: 0;
}
.img1{
   width: auto;
   height: 40px;
  float: left;
}
.img2{
   width: 20px;
    height: auto;
    float: right;
    margin-right: 2%;
    margin-top: 10px;
}
.img3{
    width: 50%;
    height: auto;
    float: left;
    margin-left: 5%;
}
.img4{
    width: 20px;
    float: left;
    margin-left: 20%;
    margin-top: 10px;
}
.img5{
    width:40%;
    margin: 0 auto;
    margin-top: 14px;
    max-width: 100%;
}
.img6{
    width: 30.7%;
    height: auto;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 2%;
}
.img7{
    width: 20px;
    float: right;
    margin-right: 2%;
    margin-top: 10px;
}
.img8{
    float: right;
    margin-right: 5%;
    height: 20px;
    margin-top: 5px;
}
.img9{
    width: 20px;
    margin-left: 2%;
    float: left;
}
.img10{
    width: 20px;
    margin-left: 2%;
    margin-top: 10px;
}
.img11{
    width: 40px;
    margin-left: 15%;
    margin-top: 15px;
    float: left;
    margin-bottom: 15px;
}
.img12{
    width: 20px;
  float: left;
    margin-top: 10px;
}
.img13{
    width: 20px;
    margin-top: 10px;
    margin-left: 5%;
}
.img14{
    width: 20px;
    float: left;
    margin-left: 80%;
    margin-bottom: 10px;
}
.img15{
    width: 20px;
    float: right;
    margin-right: 5%;
    margin-top: 10px;
}
.img16{
    height: 20px;
    float: right;
    margin-right: 5%;
    margin-top: 10px;
}
.img17{
    width: 20px;
    margin-top: 10px;
    float: left;
    margin-left: 65%;
}
.img18{
    width: 100%;
}
.img19{
    width: 20px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
}
.img20{
    width: 20px;
    float: left;
    margin-top: 12px;
    margin-left: 20%;
}
.img21{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 3px solid rgba(255,255,255,0.5);
    margin:0 auto;
    margin-top: 10px;
}
.p1{
    width: auto;
    line-height: 40px;
    margin-left: 5%;
    float: left;
}
.p2{
    width: auto;
    line-height: 40px;
    float: right;
    margin-right: 5%;
    font-size: 0.8em;
    color: #000000;
}
.p3{
    width: 100%;
    line-height: 40px;
    margin-left: 10%;
}
.p4{
    line-height: 20px;
    font-size: 0.8em;
    color: #737373;
    margin-left: 5%;
}

.p5{
    width: 45%;
    height: 60px;
    overflow: hidden;
    float: left;
    font-size: 0.8em;
    line-height: 20px;
    color: #737373;
}
.p6{
    width: 80%;
    float: left;
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    color: #FFFFFF;
}
.p7{
    font-size: 0.8em;
    text-align: center;
    line-height: 30px;
    color: #000000
}
.p8{
    width: 90%;
    line-height: 30px;
    font-size:0.8em ;
    margin-left: 5%;
    float: left;
    margin-top: 10px;
    color: #000000;
}
.p9{
    width: 90%;
    height: 60px;
    overflow: hidden;
    line-height: 20px;
    font-size:0.8em ;
    margin-left: 5%;
    float: left;
    color: #737373;
}
.p10{
    width: 96%;
    line-height: 30px;
    font-size: 0.8em;
    margin-left: 2%;
}
.p11{
    width: 96%;
    line-height: 25px;
    font-size:0.8em;
    margin-left: 2%;
}
.p12{
   width:80%;
   line-height: 40px;
   font-size: 1em;
   text-align: center;
   color: #FFFFFF;
    float: left;
}
.p13{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 0.7em;
    color: #FFFFFF;
    margin-left: 10%;
}
.p14{
    line-height: 40px;
    font-size: 0.8em;
    color: #FFFFFF;
    float: right;
    margin-right: 2%;
}
.p15{
    line-height: 30px;
    font-size: 0.8em;
    margin-left: 5%;
    float: left;
}
.p16{
    line-height: 30px;
    font-size: 0.8em;
    margin-left: 10%;
    float: left;
}
.p17{
    width: 50%;
    line-height: 30px;
    color: #05A0D7;
    font-size: 0.7em;
    padding-left: 5%;
    float: left;
}
.p18{
    width: 50%;
    line-height: 30px;
    font-size: 0.7em;
    padding-left:13%;
    float: right;
    color: #737373;
}
.p19{
    width: 100%;
    line-height: 30px;
    font-size: 0.7em;
    padding-left: 5%;
    float: left;
    color: #000000;
}
.p20{
   font-size: 0.7em;
    line-height: 20px;
    margin-left: 80%;
    float: left;
    color: #000000;
    margin-bottom: 10px;
}
.p21{
    width:75%;
    line-height: 40px;
    font-size: 1em;
    text-align: center;
    color: #FFFFFF;
    float: left;
}
.p22{
    font-size: 0.7em;
    line-height: 40px;
    left: 80%;
    float: left;
    color: #FFFFFF;
}
.p23{
    width: 100%;
    height:30px;
    font-size: 0.9em;
    padding-left: 5%;
    line-height: 30px;
}
.p24{
    font-size: 0.8em;
    padding-left: 5%;
    line-height: 30px;
    color: #05A0D7;
    float: left;
}
.p25{
    font-size: 0.7em;
    padding-left: 2%;
    line-height: 30px;
    color: #737373;
    float: left;
}
.p26{
    width: 90%;
    margin-left: 5%;
    font-size: 0.8em;
    line-height: 25px;
    float: left;
}
.p27{
    font-size: 0.8em;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 28%;
}
.p28{
    font-size: 0.8em;
    line-height: 20px;
    margin-left: 28%;
}
.p29{
    width: 70%;
    height: auto;
    float: left;
    font-size: 1em;
    color: #FFFFFF;
    line-height: 40px;
    padding-left: 30%;
}
.p30{
    width: 50%;
    font-size: 1em;
    padding-left: 5%;
    line-height: 40px;
    float: left;
}
.p31{
    width: 50%;
    height: auto;
    font-size: 0.8em;
    margin-top: 20px;
    padding-left: 25%;
    float: right;
}
.p32{
    font-size: 0.8em;
    line-height: 20px;
    float: left;
    color: #000000;
}
.p33{
    font-size: 0.8em;
    line-height: 20px;
    float: left;
    color: #737373;
}
.p34{
    font-size: 1em;
    text-align: center;
    color: #05A0D7;
    line-height: 30px;
}
.p35{
    width: 96%;
    font-size: 0.8em;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 2%;
}
.p36{
    width: 96%;
    font-size: 0.8em;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 2%;
    margin-bottom: 10px;
    color: #737373;
}
.p37{
    width: 100%;
    line-height: 20px;
    font-size: 0.8em;
    padding-left: 5%;
    margin-top: 10px;
}
.p38{
    width: 78%;
    float: left;
    font-size: 0.8em;
    line-height: 20px;
    color: #737373;
    margin-bottom: 10px;
 }
.p39{
     font-size: 0.9em;
    line-height: 30px;
    float: left;
    color: #FFFFFF;
    margin-left: 5%;
}
.p40{
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    line-height: 25px;
    font-size: 0.8em;
}
.p41{
    width: 96%;
    margin-left: 2%;
    margin-top: 40px;
    line-height: 25px;
    font-size: 0.8em;
    color: #05A0D7;
}
.p42{
    font-size: 0.9em;
    line-height: 40px;
    border-top: 3px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-left: 5%;
    margin-top: 120px;
}
.p43{
    width: 96%;
    font-size: 0.8em;
    line-height: 20px;
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.p44{
    width: 100%;
    padding-left: 2%;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.p45{
    width: 96%;
    line-height: 25px;
    margin-left: 2%;
    font-size: 0.8em;
    text-indent: 20px;
}
.p46{
    width: 96%;
    margin-top: 5px;
    padding-left: 2%;
    font-size: 0.8em;
    line-height: 25px;
}
.p47{
    border-top: 3px solid #cccccc;
    line-height: 40px;
    padding-top: 5px;
    padding-left: 2%;
}
.p48{
    width: 30%;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    font-size: 0.8em;
    padding-left: 5%;
}
.p49{
    width: 68%;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    font-size: 0.8em;
    padding-left: 5%;
    color: #737373;
}
.p50{
  font-size: 0.9em;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 2%;
}
.p51{
    font-size: 0.8em;
    line-height: 30px;
    margin-left: 10%;
}
.p52{
    line-height: 50px;
    font-size: 0.8em;
    margin-left: 10%;
}
.p53{
    width: 96%;
    line-height: 25px;
    font-size: 0.8em;
    text-indent: 20px;
    margin-left: 2%;
}
.p54{
    width: 96%;
    margin-left: 2%;
    line-height: 40px;
    font-size: 0.9em;
}
.p55{
    width: 96%;
    margin-left: 2%;
    line-height: 25px;
    font-size: 0.8em;
}
.p56{
    width: 70%;
    line-height: 40px;
    text-align: center;
    float: left;
    color: #FFFFFF;
}
.p57{
    float: right;
    margin-right: 2%;
    color: #FFFFFF;
    line-height: 40px;
    font-size: 0.8em;
}
.p58{
    width: 20%;
    height: 20px;
    border: 1px solid #05A0D7;
    border-radius: 5px;
    color: #05A0D7;
    font-size: 0.8em;
    line-height: 20px;
    text-align: center;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.p59{
    width:73% ;
    float: left;
    font-size: 0.7em;
    color: #737373;
    line-height: 20px;
    margin-left: 2%;
    margin-top: 10px;
}
.p60{
    width: 96%;
    height: auto;
    float: left;
    text-indent: 20px;
    line-height: 25px;
    font-size: 0.8em;
    margin-left: 2%;
    margin-top: 10px;
}
.p61{
    width: 96%;
    height: auto;
    float: left;
    line-height: 25px;
    margin-left: 2%;
    font-size: 0.8em;
}
.p62{
   font-size: 0.8em;
    line-height: 40px;
    float: left;
    margin-left: 2%;
}
.p63{
    width: 38px;
    height: 38px;
    border-radius: 38px;
    background-color: #cccccc;
    font-size: 0.8em;
    text-align: center;
    line-height: 38px;
    float: left;
    margin-left: 30%;
}
.p64{
    margin-top: 10px;
    line-height: 40px;
    color: #FFFFFF;
    font-size: 0.8em;
}
.p65{
    width: 25%;
     line-height: 20px;
    font-size: 0.8em;
    float: left;
    margin-left: 2%;
    text-align: center;
    border-right:1px solid #cccccc ;
    margin-top: 10px;
}
.p66{
    width: 20%;
    line-height: 40px;
    font-size: 0.8em;
    float: left;
    padding-left: 5%;
}
.p67{
    width:100%;
    line-height: 40px;
    font-size: 0.9em;
    float: left;
    padding-left: 5%;
    color: #000000;
}
.p68{
    line-height: 20px;
    font-size: 0.8em;
    float: left;
    margin-left: 50%;
    color: #737373;
}
.p69{
    line-height: 20px;
    font-size: 0.8em;
    float: left;
    color: #737373;
    margin-left: 2%;
    margin-bottom: 10px;
}
.div1{
    width: 96%;
    height: auto;
    float: left;
    border-radius:5px ;
    margin-left: 2%;
    margin-top: 5px;
    background-color: #FFFFFF;
}
.div2{
    width: 47%;
    height: 150px;
    float: left;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 5px;
    background-color: #FFFFFF;
}

.div3{
    width: 47%;
    height: 150px;
    float: right;
    border-radius: 5px;
    margin-right: 2%;
    background-color: #FFFFFF;
    margin-top: 5px;
}
.div4{
    width: 100%;
    height: 40px;
    float: left;
    background: #33b4db;
}
.div4 p{
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 5%;
    line-height: 40px;
}
.div5 table{
    width:100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}
.div5 td{
    width: 30.5%;
    float: left;
    margin-left: 2%;
    margin-top:2%;
    background-color: #FFFFFF;
    color: #000;
    border-radius: 0;
}
.div6{
    width: 100%;
    height: auto;
    float: left;
    background-color: #FFFFFF;
}
.div7{
  width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    float: left;
    border-bottom: 1px solid #cccccc;
 }
.div7 p{
    font-size: 1em;
    line-height: 40px;
    margin-left: 5%;
}
.div8{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div9{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div10{
    width: 100%;
    height: 80px;
    background-color: #ECECEC;
    float: left;
}
.div10 ul{
    width: 100%;
    height: auto;
    list-style: none;
    margin-top: 15px;
}
.div10 ul li{
    width: 20%;
    height: 40px;
   float: left;
}
.div11{
    width: 100%;
    height: 30px;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div12{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div13{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div14{
    width: 100%;
    height: auto;
    float: left;
}
.div14 ul{
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
}
.div14 ul li{
    width: 47%;
    height: auto;
   margin-left: 2%;
    float: left;
    margin-top:15px;
}
.div14 ul li img{
    width: 100%;
}
.div15{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div16{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div16 img{
    height: 20px;
    margin-left: 5%;
    margin-top: 10px;
    float: left;
    margin-bottom: 10px;
}
.div16 p{
    width: 85%;
    height: auto;
    font-size:0.8em;
    line-height: 20px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    color: #737373;
}
.div17{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
    border-top: 3px solid #cccccc;
}
.div18{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div19{
    width: 20%;
    height: auto;
    float: left;
}
.div19 img{
    height: 30px;
    margin-left: 20%;
    margin-top: 10px;
}
.div20{
    width: 80%;
    height:auto;
    float: left;
    margin-bottom: 10px;
}
.div21{
    height: 120px;
    background: url("../image/53.png")no-repeat;
    background-size:100% 80px;
    text-align: center;
}
.div21 img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin: 0 auto;
    margin-top: 30px;
    border: 3px solid rgba(255,255,255,0.5);
}
.div22{
    width: 100%;
    height: auto;
    float: left;
}
.div22 ul{
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
}
.div22 ul li{
    width: 33.33%;
    height: auto;
    float: left;
}
.div22 ul li p{
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.div23{
    width: 100%;
    height: auto;
    float: left;
    border-top: 3px solid #cccccc;
}
.div24{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div25{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
 }
.div26{
    width: 20%;
    height: auto;
    float: left;
}
.div26 img{
    width: 25px;
    margin-left: 20%;
    margin-top: 5px;
}
.div27{
    width:100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div28{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div29{
    width: 100%;
    height: auto;
    float: left;
}
.div29 img{
    width: 20px;
    margin-top: 10px;
    margin-left: 2%;
    float: left;
}
.div29 p{
   line-height: 40px;
    float: left;
    margin-left: 2%;
}
.div30{
    width: 100%;
    height: auto;
    float: left;
}
.div30 ul{
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
}
.div30 ul li{
    width: 47%;
    height: auto;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
}
.div30 ul li img{
    width: 100%;
    height: auto;
    float: left;
}
.div30 ul li p{
    font-size:0.7em ;
    line-height: 20px;
    color: #FFFFFF;
    width: 100%;
    height: 20px;
    float: left;
    background-color: rgba(0,0,0,0.5);
    margin-top:-20px;
    padding-left: 5%;
}
.div31{
    width: 100%;
    height: auto;
    float: left;
}
.div31 ul{
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
}
.div31 ul li{
    width: 33.33%;
    height: 40px;
    float: left;
}
.div31 ul li p{
    line-height: 40px;
    font-size:0.8em;
    background-color: #ECECEC;
    border-right: 1px solid #cccccc;
    text-align: center;
}
.div32{
    width: 100%;
    float: left;
    margin-top: 20px;
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;
}
.div32 p{
    font-size: 0.8em;
    line-height: 25px;
    margin-left: 10%;
}
.div33{
    width: 100%;
    height: auto;
    background:url("../image/53.png")no-repeat;
    float: left;
    text-align: center;
}
.div34{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cccccc;
}
.div35{
    width: 100%;
    height: auto;
    float: left;
}
.div35 ul {
    width:100%;
    height: auto;
    float: left;
    list-style: none;
}
.div35 ul li{
    width: 28%;
    height: 40px;
    border: 1px solid #cccccc;
    margin-left: 4%;
    margin-top: 10px;
}
.div35 ul li p{
    line-height: 40px;
    text-align: center;
    font-size: 0.8em;
}
table{
    width:100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}
td{
    float: left;
    width: 18.8%;
    margin-left: 1%;
    margin-top: 5px;
    background-color:#05A0D7;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 0.8em;
    line-height:40px ;
    text-align: center;
}
.return{
    width: 10%;
    height: 40px;
    float: left;
}
.div6 li{
    list-style: none;
    width: 30.5%;
    height: auto;
    float: left;
    margin-left: 2%;
    text-align: center;
}
li{
    list-style: none;
    float: left;
}
footer{
 background-color: #FFFFFF;
}
#Posting input{
    width: 100%;
    height:30px;
    padding-left: 5%;
    font-size: 0.8em;
    border: 0;
    border-bottom: 1px solid #cccccc;
}
#Posting textarea{
    width: 100%;
    height:200px;
    padding-left: 5%;
    font-size: 0.8em;
    border: 0;
    border-bottom: 1px solid #cccccc;
}
#slider_section{
    overflow: hidden;
}
label{
    font-size: 1em;
    color: #ff0000;
}
button{
    width: 100%;
    height: 50px;
    float: left;
    background-color: #05A0D7;
    border: 0;
    margin-top: 10px;
}
#Regulations ul{
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
}
#Regulations ul li{
    width: 100%;
    height: 40px;
    float: left;
    border-bottom: 1px solid #cccccc;
}
#Regulations ul li p{
   margin-left: 7%;
    font-size: 0.8em;
    line-height: 40px;
    color: #000;
}
.ipt1{
border: 0;
    font-size: 0.8em;
    line-height: 40px;
    background-color: #FFFFFF;
}