*{
    margin: 0;
    padding: 0;
}
body html{
    width: 100%;
    height: auto;
}

header{
    float: left;
    width: 100%;
    height: 40px;
    background-color: #05A0D7;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.div1 img {
    max-width: 100%;
    margin-left: 20%;
    margin-top: 10px;
}
.div2{
    width: 10%;
    height: auto;
    float: right;

}
.div2 img{
    margin-top: 8px;
    max-width: 100%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div3{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #CCCCCC;
}
.div4{
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 5px;
}
.div5{
    width: 80%;
    height: 50px;
    float: left;
}
.div6{
    width: 20%;
    height: 40px;
    float: left;
    margin-left: 5%;
}
.div6 img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    max-width: 100%;
    border-radius: 40px;
}
.div7{
    width: 75%;
    height: 20px;
    float: left;
}
.div7 p{
    font-size: 0.75em;
    line-height: 20px;
    color: #05A0D7;
}
.div8{
    width: 75%;
    height: 20px;
    float: left;
}
.div8 p{
    font-size: 0.65em;
    line-height: 20px;
    color: #737373;
}
.div9{
    width: 20%;
    height: 50px;
    float: left;
    margin-top: 5px;
}
.div10{
    width: 50%;
    height: 20px;
    float: left;
}
.div10 p{
    font-size: 0.65em;
    line-height: 20px;
    text-align: center;
}
.div11{
    width: 50%;
    height: auto;
    float: left;
}
.div11 img{
    max-width: 40%;
}
.div12{
    width: 100%;
    height: auto;
    float: left;
}
.div12 p{
    font-size: 0.85em;
    line-height: 20px;
    margin-left: 20%;
    margin-bottom: 10px;
}
.div13{
    width: 100%;
    height: auto;
    float: left;
    background-color:rgba(90,200,233,0.3) ;
    border-bottom: 1px solid #CCCCCC;
}
.div14{
    width: 100%;
    height: 30px;
    float: left;
}
.div15{
    width: 40%;
    height: 30px;
    float: left;
}
.div15 p{
    font-size: 0.75em;
    line-height: 30px;
    margin-left: 50%;
    color: #05A0D7;
}
.div16{
    width: 60%;
    height: 30px;
    float: left;
}
.div16 p{
    font-size: 0.65em;
    line-height: 30px;
}
.div17{
    width: 100%;
    height: auto;
    float: left;
}
.div17 p{
    font-size: 0.85em;
    line-height: 20px;
    margin-left: 20%;
    margin-bottom: 10px;
}
