*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:800px;
    background-color: #EDEDED;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    float: left;
}
.div1{
    width: auto;
    height: auto;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}
.div1 img{
    width: 80%;
    height: auto;
    max-width: 100%;
}
.div2{
    width: auto;
    height: auto;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 0.85em;
    font-family: "微软雅黑";
    color: #FFFFFF;
    margin-left: 35%;
}
.div3{
    width: auto;
    height: auto;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
}
section{
    width: 100%;
    height: 605px;
    float: left;
    background-color: #FFFFFF;
}
.div4{
    width: 100%;
    height: 120px;
    float: left;
    border-bottom: 1px solid #CCCCCC ;
}
.div5{
    width: 90%;
    height: 30px;
    float: left;
    margin-left:5%;

}
.div5 p{
    font-family: "微软雅黑";
    font-size: 0.85em;
    color: #737373;
    line-height: 30px;
}
.div6{
    width: 90%;
    height: 50px;
    float: left;
    margin-left: 5%;

}
.div6 p{
    font-family: "微软雅黑";
    font-size: 0.75em;
    color: #CCCCCC;
}
.div7{
    width: 100%;
    height: auto;
    float: left;
}
.div8{
    margin-top: 3px;
    float: left;
    margin-left: 30%;
}

.div9{
   margin-top: 5px;
    margin-left: 5px;
    float: left;
}
.div9 p{
    font-family: "微软雅黑";
    font-size: 0.75em;
}
.div10{
   margin-top: 5px;
    float: left;
    margin-left: 20%;
}