*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:auto;
    background-color: #ECECEC;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height:40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2 {
    width: 80%;
    height: auto;
    float: left;

}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
   text-align: center;
}
nav{
    width: 100%;
    height:auto;
    background-color: #ffffff;
    float: left;
    margin-top: 40px;
}
.nav-1{
    width: 80%;
    height: 30px;
    margin-top: 5px;
    border: 1px solid #ECECEC;
    margin-left: 10%;
}
.nav-2{
    width: 10%;
    height: 30px;
    float: left;
    margin-top: 5px;
    margin-left: 5%;
}
.nav-2 img{
    width: 20px;
}
input{
    width: 85%;
    border: 0;
    height: 30px;
    float: left;
}
.nav-3{
    width: 100%;
    height: 38px;
    float: left;
}
.nav-3 ul {
    width: 80%;
    height: 38px;
    margin-left: 10%;
    list-style: none;
}
.nav-3 ul li {
    width: 20%;
    height: 19px;
    float: left;
    margin-top: 7px;
}
.nav-4{
    width: 100%;
    height: 19px;
}
.nav-4 p{
    font-size: 0.65em;
    color: #CCCCCC;
    line-height: 15px;
    text-align: center;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 5px;
}
.div3{
    width:100%;
    height:auto;
    float: left;
    border-bottom: 1px solid #CCCCCC;
    background-color: #ffffff;
}
.div4{
    width: 90%;
    height:auto;
    float: left;
    margin-left: 5%;
}
.div4 p{
    font-size: 1em;
    color: #000000;
    line-height: 20px;
}
.div5{
    width: 10%;
    height: 20px;
    float: left;
    margin-left: 5%;
}
.div5 img{
    height: auto;
    max-width: 100%;
}
.div6{
    width: 80%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}
.div6 p{
    font-size: 0.85em;
    color: #CCCCCC;
}
