* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height:auto;

}

header {
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;

}

a {
    text-decoration: none;
}

.div1 {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.div1 img {
    max-width: 100%;
    margin-left: 20%;
    margin-top: 10px;
}

.div2 {
    width: 20%;
    height: auto;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    font-family: "方正兰亭纤黑_GBK";
    color: #FFFFFF;
    margin-left: 30%;
}
.div18{
    width: 20%;
    height: 40px;
    float: left;
    margin-left: 17%;
}
.div18 p{
    width:100%;
    line-height: 40px;
    font-size: 0.8em ;
    font-family: "方正兰亭纤黑_GBK";
    color: #FFFFFF;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div3{
    width: 100%;
    height: 100px;
    float: left;
}
.div3 img{
   width: 100%;
    height: 100px;
    max-width: 100%;
}
.div4 {
    width: 86px;
    height: 86px;
    float: left;
    border-radius: 86px;
    margin-left: 10%;
    margin-top: -75px;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
}
.div4 img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-top: 3px;
    margin-left: 3px;
}
.div5{
    width: 50%;
    height: 30px;
    float: left;
    margin-top: -70px;
    margin-left: 40%;
}
.div5 p{
    width: auto;
    height: auto;
    line-height: 30px;
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.75em;
    color: #FFFFFF;
}
span{
    width: 15%;
    height: 20px;
    float: left;
    border: 1px solid #ffffff;
    margin-left: 40%;
    margin-top: -40px;
    font-family: "方正兰亭纤黑_GBK";
    font-size: 0.85em;

}
span button{
    width: 100%;
    height: 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    text-align: center;
    line-height: 20px;
}
.div6{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 10px;
    border-bottom: 1px solid #CCCCCC;

}
.div7{
    width: 25%;
    height: 40px;
    float: left;
    margin-left: 2%;
}
.div7 p{
    width: auto;
    height: auto;
    font-family: "方正兰亭纤黑_GBK";
    font-size: 1em;
    line-height: 40px;
    margin-left: 5%;
    color: #737373;
}
.div8{
    width: 70%;
    height: auto;
    float: left;
}
.div8 p{
    width:100%;
    height: auto;
    font-size: 0.9em;
    font-family: "方正兰亭纤黑_GBK";
    color: #737373;
    line-height: 18px;
    margin-bottom: 30px;
}
.div9{
    width: 70%;
    height: 100px;
    float: left;
}
.div9 ul{
    list-style: none;
    height:80px ;
}
.div9 ul li{
    width: 23%;
    height: 80px;
    float:left ;
    margin-left: 2%;
}
.div10{
    width: 100%;
    height: 80px;
    float: left;
}
.div10 img{
    width: 100%;
    height: 80px;
    max-width: 100%;
}
.div11{
   width: 100%;
    height: 80px;
    float: left;
    background-color:rgba(0,0,0,0.35) ;
    margin-top: -80px;

}
.div11 p{
    width: 100%;
  height: 40px;
  font-size: 0.65em;
    font-family: "方正兰亭纤黑_GBK";
    color: #FFFFFF;
    margin-top: 40px;
}
.div6-1{
    width: 100%;
    height: 200px;
    float: left;
    margin-top: 10px;
    border-bottom: 1px solid #CCCCCC;
}
.div12{
    width: 70%;
    height: 200px;
    float: left;
}.div12 ul{
     list-style: none;
     height:180px ;
 }
 .div12 ul li{
     width: 48%;
     height: 80px;
     float: left;
     margin-left: 2%;
     margin-top: 10px;
 }
 .div13{
     width: 100%;
     height: 80px;
 }
 .div13 img{
     width: 100%;
     height: 80px;
     max-width: 100%;
 }
 .div14{
     width:100%;
     height: 20px;
     float: left;
     margin-top: -20px;
     background-color: #05A0D7;
     filter:alpha(Opacity=80);
     -moz-opacity:0.8;opacity: 0.8;
     overflow: hidden;
 }
 .div14 p{
     width: 100%;
     height: 20px;
     font-family: "方正兰亭纤黑_GBK";
     font-size: 0.65em;
     color: #FFFFFF;
     line-height: 20px;

 }

.div15{
    width: 46%;
    height: 80px;
    float: left;
}
.div15 img{
    width: 100%;
    height: 80px;
    max-width: 100%;
}
.div16{
    width:46%;
    height: 80px;
    float: left;
    margin-left: 6%;
}
.div16 img{
    width:100%;
    height: 80px;
    max-width: 100%;
}
footer{
    width: 100%;
    height: 40px;
    float: left;
}
.div17{
    width:8% ;
    height: 30px;
    float: left;
    margin-left: 10%;

}
.div17 img{
    max-width: 100%;
    margin-top: 10px;
}

.div19{
    width:8% ;
    height: 30px;
    float: left;
    margin-left: 20%;
}
.div19 img{
    max-width: 100%;
    margin-top: 10px;
}

