* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height:auto;

}

header {
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;

}
a {
    text-decoration: none;
}

.div1 {
    width: 10%;
    height: 40px;
    float: left;
}
.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}

.div2 {
    width: 20%;
    height: auto;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 30%;
}
.div18{
    width: 20%;
    height: 40px;
    float: left;
    margin-left: 17%;
}
.div18 p{
    width:100%;
    line-height: 40px;
    font-size: 0.8em ;
    color: #FFFFFF;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div3{
    width: 100%;
    height: 100px;
    float: left;
}
.div3 img{
   width: 100%;
    height: 100px;
    max-width: 100%;
}
.div4 {
    width: 86px;
    height: 86px;
    float: left;
    border-radius: 86px;
    margin-left: 10%;
    margin-top: -75px;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
}
.div4 img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-top: 3px;
    margin-left: 3px;
    overflow: hidden;
}
.div5{
    width: 50%;
    height: 30px;
    float: left;
    margin-top: -70px;
    margin-left: 40%;
}
.div5 p{
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 0.75em;
    color: #FFFFFF;
}
.div8{
    width: 15%;
    height: 20px;
    float: left;
    border: 1px solid #ffffff;
    margin-left: 20%;
    margin-top: -40px;
    font-size: 0.85em;

}
.div8 button{
    width: 100%;
    height: 20px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    text-align: center;
    line-height: 20px;
}
.div6{
    width: 100%;
    height: 30px;
    float: left;

}
.div6 p{
   font-size: 0.9em;
    line-height: 30px;
    margin-left: 5%;
}
table{
    width: 100%;
    height: auto;
    float: left;
}
td{

    border: 1px solid #cccccc;
}
td p{
    font-size: 0.8em;
    text-align: center;
    line-height: 20px;
}
.p1{
     width: 20%;
 }
.p2{
    width: 30%;
}
.div7{
    width: 100%;
    height: auto;
    float: left;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc
}
.div7 p{
    font-size: 0.8em;
    line-height: 20px;
    margin-left: 5%;
}