* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height:auto;
    background-color: #EDEDED;
}

header {
    width: 100%;
    height: 40px;
    background: #05A0D7;
}

a {
    text-decoration: none;
}

.div1 {
    width: auto;
    height: auto;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
}

.div1 img {
    width: 80%;
    height: auto;
    max-width: 100%;
}

.div2 {
    width: auto;
    height: auto;
    float: left;
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    font-family: "微软雅黑";
    color: #FFFFFF;
    margin-left: 33%;
}
.div3{
    width: 80%;
    height: 40px;
    float: left;
    border: 1px solid #05A0D7;
    margin-left: 10%;
    margin-top: 20px;
    background-color: #FFFFFF;
}
.div3-1{
    width: 20%;
    height: 30px;
    border-right: 1px solid #05A0D7;
    margin-top: 5px;
    float: left;
}
.div3-1 p{
    width: 100%;
     text-align: center;
    font-family: "方正兰亭纤黑_GBK";
    font-size: 1.5em;
    color: #05A0D7;

}
.div4{
    width: 80%;
    height: 40px;
    float: left;
    border-bottom: 1px solid #05A0D7;
    border-left: 1px solid #05A0D7;
    border-right: 1px solid #05A0D7;
    margin-left: 10%;
    background-color: #FFFFFF;
}
.div4-1{
    width: 20%;
    height: 30px;
    border-right: 1px solid #05A0D7;
    margin-top: 5px;
    float: left;
}
.div4-1 img{
    width: 40% ;
    height: auto;
    max-width: 100%;
    margin-left: 30%;
    margin-top: 5px;
}
input{
    margin-top: 5px;
    border: 0;
    height: 30px;
    margin-left: 1%;
}
.div5 {
    width: 80%;
    height: 40px;
    float: left;
    border-bottom: 1px solid #05A0D7;
    border-left: 1px solid #05A0D7;
    border-right: 1px solid #05A0D7;
    margin-left: 10%;
    background-color: #FFFFFF;
}
.div5-1{
    width: 20%;
    height: 30px;
    border-right: 1px solid #05A0D7;
    margin-top: 5px;
    float: left;
}
.div5-1 img{
    width: 40% ;
    height: auto;
    max-width: 100%;
    margin-left: 30%;
    margin-top: 5px;
}
.div6 {
    width: 80%;
    height: 40px;
    float: left;
    border-bottom: 1px solid #05A0D7;
    border-left: 1px solid #05A0D7;
    border-right: 1px solid #05A0D7;
    margin-left: 10%;
    background-color: #FFFFFF;
}
.div6-1{
    width: 20%;
    height: 30px;
    border-right: 1px solid #05A0D7;
    margin-top: 5px;
    float: left;
}
.div6-1 img{
    width: 40% ;
    height:auto;
    max-width: 100%;
    margin-left: 30%;
    margin-top: 5px;
}
.div7{
    width: 94%;
    height:40px ;
    margin-left: 3%;
    margin-top: 30px;
    float: left;
}
.p1{
    width:8%;
    float: left;
}
.p2{
    width: 86%;
    float: left;
}
.div7 p{
    font-size: 0.75em;
    line-height: 20px;
    color: #05A0D7;
}
.div8{
    float: left;
    margin-top:20px ;
    margin-left: 10%;
}
.div9{
    margin-left: 5px;
    float: left;
    margin-top:20px ;
}
.div9 p{
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 20px;
}
.div10{

    float: left;
    margin-top:20px ;
}
.div10 p{
    font-size: 0.75em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 20px;
    color: #05A0D7;
}
button{
    width: 90%;
    height: 30px;
    background-color: #05A0D7;
    float: left;
    margin-left: 5%;
    margin-top:10px ;
    color: #FFFFFF;
    font-size: 0.9em;
    border: 0;
}
footer{
    width: 94%;
    height: 50px;
    float: left;
    margin-left: 3%;
    margin-top:150px ;
}
footer ul{
    list-style: none;
}
.li-1{
    width: 60%;
    height: 25px;
    float: left;
}
.li-2{
    width: 40%;
    height: 25px;
    float: left;
}
.div13{
    width: 100%;
    height: 25px;
}
.div13 p{
    font-size: 0.59em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 25px;
}





