*{
     margin: 0;
     padding:0;
 }
 html body{
     width: 100%;
     height: 100%;
     background-color: #ECECEC;
 }
 header{
     width: 100%;
     height: 40px;
     background: #05A0D7;
     position: fixed;
     top: 0;
  }
 a{
     text-decoration: none;
 }
.div1 {
    width: 10%;
    height:40px;
    float: left;
}

.div1 img {
    width: 20px;
    max-width: 100%;
    margin-left: 40%;
    margin-top: 10px;
}
.div2 {
    width: 80%;
    height: auto;
    float: left;

}
.div2 p{
    width: 100%;
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}
 .div3{
     width: 10%;
     height: 40px;
     float: right;
 }
 .div3 img{
     width: 30px;
     height: auto;
     max-width: 100%;
     margin-top: 5px;
 }
 .div3 ul{
     list-style: none;
     display: none;
     position: absolute;
     float: right;
     right: 4px;
     top: 40px;

 }
 .div3 ul li{
     float: none;
 }
 .div3 ul li a{
     text-decoration: none;

 }
 .div3 ul li a p{
     width: 80px;
     height: 30px;
     background-color:#ffffff;
     font-size: 0.65em;
     border: 1px solid #CCCCCC;
     color: #CCCCCC;
     text-align: center;
     line-height: 30px;
 }
 .div3 ul li a .p1{
     border-top:0 ;
 }
 .div3:hover ul{
     display: block;
 }


 .div4{
     width: 100%;
     height:40px ;
     background: #FFFFFF;
   float: left;
     margin-top: 50px;
  }
 .div4 ul{
    list-style: none;
     width: 100%;
     height: 40px;

 }.div4 ul li{
     width: 33.3%;
     height: 40px;
     float: left;
  }
 section{
     width: 100%;
     height: auto;
     background: #ECECEC;
 }
 .div5{
     width: 100%;
     height: 30px;
 }
  .div5 p{
      width: 60%;
      height:20px ;
      font-size: 0.75em;
      color: #CCCCCC;
      line-height: 20px;
      text-align: center;
      margin-top: 10px;
      margin-left: 20%;
  }
  .div6{
      width: 100%;
      height: 40px;
      float: left;
      background: #FFFFFF;
      margin-top: 10px;
      border-bottom: 1px solid #CCCCCC;
  }
  .div7{
      width: auto;
      height: auto;
      line-height: 40px;
      font-size:0.85em ;
      float: left;
      margin-left: 3%;
  }
   .span-1{
       width:auto;
       height:auto;
       float: right;
       margin-top: 15px;
       margin-right: 5%;
   }
   .span-1 p{
       color: #000000;
       font-size: 0.8em;
   }
  .div9{
      width: 100%;
      height:auto;
      background: #FFFFFF;
      float: left;

  }
  .div9 ul{
      width: 100%;
      height: auto;
      margin-top: 20px;
      list-style: none;
  }
  .div9 ul li{
      width: 30%;
      height: auto;
      margin-left: 3%;
      float: left;
      margin-bottom: 10px;
  }
  .div9 ul li img {
      max-width: 100%;
  }
  .div10{
      width: 100%;
      height:auto;
      background: #FFFFFF;
      float: left;
      overflow: hidden;

  }
  .div11{
      width: 95%;
      height: 30px;
      float: left;
  }
  .div11 p{
      line-height: 30px;
      font-size: 0.75em;
      margin-left: 5%;
      color: #000000;
  }
  .div12{
      width:95% ;
      height:60px;
      overflow: hidden;
      float: left;
      margin-bottom: 10px;
  }
  .div12 p{
      font-size: 0.65em;
      margin-left: 5%;
      line-height: 20px;
      color: #737373;

  }

 .div14{
     width: 100%;
     height: auto;;
     float: left;
     border-bottom: 1px solid #CCCCCC;
    background-color: #ffffff;
     overflow: hidden;
 }
 .div15{
     width: 95%;
     height: 30px;
     float: left;
     margin-left: 5%;
 }
 .div15 p{
     font-size: 0.85em;
     line-height: 30px;
     color: #000000;
 }
 .div16{
     width:90% ;
     height :60px;
     float: left;
     overflow: hidden;
     margin-left: 5%;
     margin-bottom: 10px;
 }
 .div16 p{
     font-size: 0.65em;
     line-height: 20px;
     color: #737373;

 }


 .nav_tab1{
     width: 100%;
     height: auto;
     float: left;
     margin-top: 10px;
 }
 .gg{
     width: 100%;
     height: auto;
     float: left;
     background-color: #ffffff;
     border-bottom: 1px solid #CCCCCC;
 }
 .gg-1{
     width: 95%;
     height:auto;
     float: left;
 }
 .gg-1 p{
     line-height: 30px;
     font-size: 0.8em;
     margin-left: 5%;
     color: #000000;
 }
 .gg-2{
     width:95% ;
     height:60px;
     float: left;
     overflow: hidden;
 }
 .gg-2 p{
     font-size: 0.65em;
     margin-left: 5%;
     line-height: 20px;
     color: #737373;
 }

 .nav_tab2{
     width: 100%;
     height: auto;
     float: left;
     margin-top: 10px;
 }
 .zx{
     width: 100%;
     height: auto;
     float: left;
     border-bottom: 1px solid #CCCCCC;
     background-color: #ffffff;
 }

 .zx-1 img{
     max-width: 100%;
 }

 .intro{
        width:90%;
        height:auto;
        font-size: 0.85em;
        line-height: 30px;
        color: #000000;
        float: left;
        margin-left: 5%;
 }
 .intro span{
   width: 100%;
     float: left;
     font-size: 0.8em;
     line-height: 150%;
     margin-top: 10px;
 }
 .intro p{
        float: left;
        height: 60px;
        font-size: 0.75em;
        color:#737373;
        line-height: 20px;
        margin-bottom: 10px;
 }
 .notice{
     width:90%;
     margin-left:5%;
     float: left;
 }
 .notice img{
     width:31%;
     margin-top:10px;
     margin-bottom:10px;
     float: left;
     margin-left: 2%;
 }
