*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:auto;
    background-color: #ECECEC;
}
header{
    width: 100%;
    height: 40px;
    background: #05A0D7;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.div1 {
    width: 10%;
    height: auto;
    float: left;
    margin-left: 3%;
}

.div1 img {
    max-width: 100%;
    margin-left: 20%;
    margin-top: 10px;
}
.div2{
    width: 72%;
    height: auto;
    float: left;
}
.div2 p{
    line-height: 40px;
    font-size: 1em;
    color: #FFFFFF;
    margin-left: 39.5%;
}
.div3{
    width: 10%;
    height: auto;
    float: right;
    margin-right: 5%;
}
.div3 img{
    max-width: 100%;
    margin-top: 10px;
    margin-left: 20%;
}
section{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 40px;
}
.div4{
    width: 100%;
    height: 302px;
    float: left;
}
.div5{
    width: 100%;
    height: 30px;
    float: left;
    background-color: deepskyblue;
}
.div5 p{
    width: 95%;
    margin-left: 5%;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: "方正兰亭纤黑_GBK";
    font-size: 1em;
}
.div6{
    width: 100%;
    height: 270px;
    float: left;
}
.div6 table{
    width: 100%;
    height: 270px;
    border: 5px solid #ECECEC;
}
.div6 table tr{
    width: 100%;
    height: 40px;
}
.div6 tr td {
    width: 30%;
    height: 40px;
    background-color: #FFFFFF;
    border: 5px solid #ECECEC;
}
.div6 tr td p{
    font-size: 0.85em;
    font-family: "方正兰亭纤黑_GBK";
    line-height: 40px;
    text-align: center;
}